[2016-11-28 21:08] b-schubert opened #3 "Bug in align.protocol line 378?"
I got an invalid syntax error when importing something from evcouplings.align.
The error comes from align.protocol line 378
[code]

[2017-01-13 15:29] b-schubert opened #5 "Continuous Integration via Travis?"
Perhaps it is a good idea to start thinking about continuous integration and testing.
One very easy way to do this is TravisCI (https://travis-ci.org). I can help setup the CI and write some unit tests....

[2017-01-13 16:48] #3 closed, assigned to nobody

[2017-03-10 20:58] #5 closed, assigned to nobody

[2017-04-20 22:19] thomashopf opened #10 "Restraint weights in folding module (dg_sa)"
The original pipeline had a small modification to the scalehot and scalecool modules of CNS to allow different restraint weights for secondary structure distance and EC-based distance restraints:

**Old settings in dg_sa.inp**:
md.cool.noe=5 (used to scale EC distance restraints)
md.cool.noe2=10 (used to scale secondary structure distance restraints)
These weights were used to rescale the restrain

[2017-04-21 00:17] thomashopf opened #11 "Consistent behaviour for output file checking"
Pipeline outputs with the suffix "_file" are implemented in some of the stages to be None if the product could not be created, whereas other stages do not return the key.

Need to make this behaviour consistent, and make sure that the pipeline (re-)runner does not choke when files are set to be None.

[2017-04-21 00:22] thomashopf opened #12 "Index mapping in non-focus mode"
Segments and index remapping in the coupling stage do not accommodate the following case:
- Position present in the sequence alignment
- No corresponding position present in the target sequence

Since all of the pipeline currently operates in focus mode (and this is the only sensible mode for downstream stages like compare, mutate and fold), this is not an issue currently. If non-focus mode applic

[2017-04-21 00:26] thomashopf opened #13 "Update output tutorial to cover folding stage"
Currently settings and output products of "fold" stages not explained in notebooks/output_files_tutorial.ipynb and notebooks/running_jobs.ipynb

[2017-04-21 17:51] thomashopf opened #14 "Add a license"
contenders: MIT, BSD 3-clause

[2017-04-21 17:51] thomashopf opened #15 "Create documentation pages"
Use https://readthedocs.org/, couple to repository

[2017-04-27 15:00] deboramarks opened #16 "Stage Subfolders"
Make subfolders for all output stages

[2017-04-27 15:02] deboramarks opened #17 "Interactive contact maps"
Add interactive contact maps plotting function - HTML - think about consistency with server whilst doing

[2017-04-27 15:03] deboramarks opened #18 "Predicted Contact Maps (no structure)"
Add to couplings stage

[2017-04-27 15:05] deboramarks opened #19 "Coloring contact maps"
Color range for EC strengths ( discuss what it should be)

[2017-04-27 15:14] deboramarks opened #20 "ECs represented as arcs on a line"
Put UniProt numbering on beginning and end of line
Interactive arcs that display residue numbers and name
Range of colors for arcs related to strength of EC
Optional - predicted secondary structure along line

[2017-04-27 15:23] deboramarks opened #21 "Add EVcomplex"

[2017-05-02 01:54] thomashopf opened #22 "compare stage: search using HMM from alignment stage"
Current implementation uses jackhmmer only against the sequences of PDB structures. For greater sensitivity, should search with the broader HMM profile generated by searching against Uniref/Uniprot.

To implement,
1) generate HMM file from .a2 alignment (better to use than checkpoints_hmm parameter of jackhmmer search) using hmmbuild
2) scan HMM against PDB Uniprot sequence database (from SIFTS ob

[2017-05-02 20:14] deboramarks opened #23 "Secondary structure and numbering on contact maps"
Put numbering and secondary structure logo on same axis in contact maps for better visualization.

[2017-05-03 02:20] deboramarks opened #24 "Make optimal rule for secondary structure vis in contact map"
Decide on best rule for secondary structure is shown in compare contact map

[2017-05-03 14:38] thomashopf opened #25 "Pfam family size table creation function"
Implement evcouplings.align.pfam.create_family_size_table(), parse the numbers from full Pfam-A flat file (ftp://ftp.ebi.ac.uk/pub/databases/Pfam/current_release/Pfam-A.full.gz).

Before implementing, check that this information is not available in a more straightforward way.

[2017-05-11 01:48] #16 closed, assigned to nobody

[2017-05-11 01:48] #19 closed, assigned to nobody

[2017-05-11 01:48] #24 closed, assigned to nobody

[2017-05-15 15:27] thomashopf opened #27 "Add configuration parameter to delete intermediate alignment files"
To save space, delete intermediate products of align stage (which are biggest space takers next to .model file):
* .sto file
* _faw.fasta
* .output

Add a parameter like "save_model" couplings stage to enable/disable this.

[2017-05-15 15:33] thomashopf opened #28 "Estimate amount of memory needed for compute job"
Goal: reduce amount of memory that needs to be requested by estimating upper bound based on length of target sequence.

* This feature will be enabled by putting "auto" as value of environment->memory in configuration file.
* To estimate, we need to know how long the target sequence is in evcouplings app, which does not touch the sequence (this only first happens in align stage of pipeline). Possi

[2017-05-17 00:37] #25 closed, assigned to nobody

[2017-05-19 19:52] #11 closed, assigned to nobody

[2017-05-19 19:52] #27 closed, assigned to nobody

[2017-05-24 17:15] b-schubert opened #32 "[ERROR] Seaborn is missing in setup.py as dependency"

[2017-05-24 18:27] #32 closed, assigned to nobody

[2017-06-09 22:35] #14 closed, assigned to nobody

[2017-06-26 19:28] sophiamersmann opened #38 "lsf submitter seems to block"

[2017-07-25 20:21] deboramarks opened #46 "statistics summary files not always made"
Benni and I have noticed that the "..statistics_summary.pdf" and "..statistics_summary.csv" files are not always made and it seems to be random when they are not. It seems they  are 'timed out' but we don't know why. Even when runs take just a few hours the stats file can take a day .. odd??

[2017-08-01 13:34] #38 closed, assigned to b-schubert

[2017-08-02 18:54] b-schubert opened #49 "ValueError: No chains with given name found"
I encountered the following error:

[code]

which basically breaks the complete pipeline. The culprit was 1OAY...

I propose to ignore the particular PDB structure and continue with the processing via a try and except block. Agreed?

[2017-08-03 17:21] #49 closed, assigned to b-schubert

[2017-08-08 13:07] deboramarks opened #52 ""theta" not working in command line"
Changing theta in config is working ok , changing it in command line doesn't .

[2017-08-08 17:18] #52 closed, assigned to nobody

[2017-08-08 18:08] mchonofsky opened #54 "compute_num_effective_seqs appears to be ignored"
I have compute_num_effective_seqs: True in my config file, but Neff does not appear to be calculated at my align stage.

I am not 100% sure  that this is not operator error. Here is the call I am using:

evcouplings --yolo -P output/capsid_config_mod -p P12497 -b "0.2, 0.5, 0.8" -t 0.99 -r 133-363  sample_config_align.txt

[sample_config_align.txt](https://github.com/debbiemarkslab/EVcouplings/fil

[2017-08-08 18:20] mchonofsky opened #55 "Weird errors in fold"
1. This one:

[code]

2. This one:

[code]

[2017-08-08 18:42] #54 closed, assigned to nobody

[2017-08-08 20:25] aggreen opened #56 "multimer_dists() fails for pdb 5o2u"
Multimer distance calculation fails for hits to the protein P12497 (code and error message below). We believe this is due to pdb id 5o2u, as this is the only structure hit with multiple chains. Structure hits and mapping files are attached.

We have tried the following:
1. verified that sifts and pdb files exist and do not appear to have anything strange about them:
http://files.rcsb.org/view/5o2u

[2017-08-14 13:00] thomashopf opened #57 "Clean up couplings/protocol.py"
Currently the protocols have quite some code duplication. I already refactored some of it in the complexes_dev branch (standard and complexes protocols). After these changes are merged into master, we should continue to refactor such that mean-field protocol also gets de-duplicated.

[2017-08-14 13:03] thomashopf opened #58 "Better score column handling"
Currently the "cn" score column is the default score column in the entire pipeline. To make this more flexible for use with other scores (e.g. DI score from mean-field protocol), there should be a generic "score" column which the rest of the pipeline after the couplings stage uses. Which score gets assigned to that column is a parameter of the couplings stage (entry like "use_score: cn"). Needs co

[2017-08-14 14:23] #56 closed, assigned to nobody

[2017-08-16 18:06] #55 closed, assigned to nobody

[2017-08-21 20:42] #15 closed, assigned to nobody

[2017-09-06 14:21] #46 closed

[2017-09-09 09:17] thomashopf opened #64 "Create SIFTS mapping file with segments with structural coverage"
We had a response from the SIFTS team that they will provide an segment mapping file that maps consecutive Uniprot sequence segments to segments with structural coverage later this year or early next year. In the meantime, we shouldtry to create such a file ourselves based on the residue-level xml files. We could then distribute these precomputed files using the evcouplings_dbupdate tool and as do

[2017-09-26 22:39] b-schubert commented on #22
See #66

[2017-10-11 14:23] deboramarks opened #68 "Add secondary structure prediction from Perry's code to output"

[2017-10-11 14:24] deboramarks opened #69 "Add predicted secondary structure to predicted contact maps"
can be psipred and perry's from ECs
should have both options

[2017-10-11 14:25] deboramarks opened #70 "Add ability to input own PDB for comparison"
Great feature for unpublished PDBs or comparing own models to others

[2017-10-11 14:26] deboramarks opened #71 "Statistics summary csv doesn't always contain all the runs"
see marks/projects/murj_ecoli/MURJ_ECOLI  for example

[2017-10-14 16:44] thomashopf commented on #71
This looks like the subjob crashing fatally - there is not even LSF output in the stdout.log file. Generally, if the job is shut down, there is nothing the pipeline can do about it (the only exception is that the pipeline does register it is being killed).

Any other cases where there is missing output in the summary, but the job *didn't* crash or get terminated?

[2017-10-14 16:53] thomashopf commented on #69
Easy and quick for EC-derived secondary structure prediction and should be part of the couplings stage. I would like to avoid running psipred before the folding stage, since it adds quite a bit of runtime.

[2017-10-14 17:00] thomashopf commented on #70
Can already be done easily using the available functions in a notebook with full flexibility.

We could add this to the compare stage, but there is one big caveat: we do not have SIFTS information for custom PDBs, so this cannot happen within the regular sequence to PDB index mapping workflow.

I would try to avoid starting doing alignments from target sequence against the ATOM records in the stru

[2017-10-17 17:24] kpgbrock opened #72 "Add flag to change proline secondary structure"
For prolines that appear in long helices, could be good to have a flag that would change them from H to C in secondary structure prediction file from PSIPRED to allow the helix to bend in fold stage

[2017-10-21 18:13] thomashopf commented on #21
complexes_dev merged into master ( #42 ), EVcomplex is now part of the pipeline

[2017-10-21 18:13] #21 closed

[2017-10-21 18:14] thomashopf commented on #57
Partly refactored protocols are now part of master branch, could now refactor the mean-field protocol

[2017-10-23 17:26] thomashopf opened #74 "Create Docker container for easier distribution"
* including all software dependencies, as far as possible
* think about how to best handle databases
* pay attention to licenses, some of the used tools are under GPL

[2017-10-23 17:34] thomashopf opened #75 "Increase test coverage"
Highest priority would be tests that check the sanity of the individual pipeline stage outputs, and that the pipeline runs through from start to end for the major workflows (monomers / complexes).

[2017-10-30 19:36] thomashopf opened #78 "Correct PDB file column widths for large structures"
When loading a large structure (from mmCIF or MMTF) with many residues / atoms that exceed the maximum width in PDB files, and then writing the chains from these as PDB file using
evcouplings.compare.pdb.Chain.to_file(), the output file will have shifted columns (i.e. broken PDB file).

Fix:
* Minimally, to_file() should raise an exception when trying to write an invalid file with shifted columns

[2017-10-31 15:56] #78 closed

[2017-11-08 16:59] sacdallago commented on #74
You would usually not dockerize databases.

What you can do is create a separate container for the database and then create a docker-compose script that pulls both (or more) containers at once. I've done it multiple times, latest in this project: https://github.com/efktr/docker-compose

I will take care of this.

What is the problem with licenses? If the Readme of this repo acknowledges the tools

[2017-11-08 17:04] b-schubert commented on #74
Well isn't this a dockerization of a database then ;-)

As Thomas indicated, some of the dependencies are released under GPL, which means the docker container must also be released under a GPL license.

Not a big issue as it would not influence the licensing of the API package.

[2017-11-08 18:45] thomashopf commented on #74
Yep the first thing would be to check what needs to be done re the tools with special licenses, in particular CNS. psipred needs checking too.

[2017-11-08 20:09] sacdallago commented on #74
@b-schubert

Not entirely :D the data is still stored separately from the container. Just the database container is created, and on first run pulls the data. This means slow first boot, but small containers and sort of maintaining the whole paradigm

@thomashopf I see. This is a separate discussion. I'll open an issue for it

[2017-11-08 20:18] sacdallago opened #83 "Dependencies licences"
### Check licenses for tools and report here
As from #74

For this purpose, I propose listing all external dependencies here and slowly commenting with their licenses.

Dependencies:
- [x] CNS
- [x] psipred

[2017-11-08 20:21] sacdallago commented on #83
# PSIPRED
http://bioinfadmin.cs.ucl.ac.uk/downloads/psipred/LICENSE

----
PLEASE READ THE FOLLOWING LICENSE AGREEMENT. BY USING THE PROGRAM YOU ARE
ACKNOWLEDGING THE FACT THAT YOU AGREE TO THE TERMS OUTLINED IN THIS
AGREEMENT. USERS WISHING TO USE THE SOFTWARE FOR COMMERCIAL ACTIVITIES
NOT COVERED BY THIS AGREEMENT SHOULD SEND E-MAIL TO: dtj@cs.ucl.ac.uk

* NOTE RECENT CHANGES TO PARAGRAPH 8 *

 P

[2017-11-09 15:36] sacdallago opened #84 "Additional last step in pipeline: store list of files to database"
After the pipeline has finished generating all files, there should be a final optional step where files are copied from the FS to a database. This should be as transparent as possible (i.e.: database can be mongo/postgres/...) and the files to be stored are read from some config file.

[2017-11-09 15:56] sacdallago opened #85 "List of files to be stored in database for webserver (front-/backend) consumption"
- [ ] Master config file (job parameters)
- [ ] `subfoldbitscore/align/*_alignment_statistics.csv`
- [ ] `*_job_statistics_summary.pdf` --> Might be missing

### Align
- [ ] Master alignment statistics file (`align\*_alignment_statistics.csv`)
- [ ] Sequences file (`align\*.fa`)
- [ ] Alignment file (`align\*.a2m`)
- [ ] Frequencies file (`align\*_frequencies.csv`)

### Couplings
- [ ] Couplings m

[2017-11-09 15:59] sacdallago commented on #85
@thomashopf : @b-schubert and I were wondering which files are necessary for the frontend. This is the list @b-schubert came up with. Anything to add or remove? The idea is to store these files somewhere after the pipeline is run (e.g. in a DB, see #84 ) and then have the backend fetch the data from there instead of fetching it from disk.

@kpgbrock : @b-schubert was unsure about the files to stor

[2017-11-09 16:06] sacdallago commented on #84
To be implemented in management stage of pipeline?

[2017-11-09 19:03] thomashopf commented on #84
1) Configuration which output items to store should be in management section of configuration file, just like the list of keys that go in the archive file

2) I would add the files to the database as the pipeline goes through the stages (this is inside utils/pipeline.py) to allow the website to progressively update the results

3) Some of the pipeline outputs are large for database standards (e.g.

[2017-11-09 19:36] thomashopf commented on #85
I think the best way to list this is in terms of
1) items that will compose what is on the website rather than stages, and
2) keys in the output file

There will also be entries that are not files but just values that should be available for querying.

### General job info (already available at submit time)
* sequence_id
* sequence_file
* target_sequence_file

### Sequence alignment (for alignment

[2017-11-09 19:40] deboramarks commented on #85
Agree ( amateur speaking here )

[2017-11-09 19:45] thomashopf commented on #85
Since this is inherently related to the REST API endpoints, I'll see if get around to drafting a reasonable set of endpoints this weekend

[2017-11-09 21:04] sacdallago commented on #85
@thomashopf thanks for the list.

Just to re-iterate the idea of doing this in the first place: @b-schubert said *storing* the computations takes up too much space + you would like to have some easy way of chaning provider (where the data fed to the frontend is stored). I proposed storing only relevant files (for the frontend) in a database (possibly mongo, I totally agree with .4 in https://githu

[2017-11-10 19:26] thomashopf commented on #85
Storage space at least on Orchestra is not much of an issue, if one doesn't keep the results forever and actually enforces deletion (the current server setup doesn't and no one bothered...) after e.g. 2 weeks with a cronjob. The pipeline also already has a setting *delete* in the management section that allows it to clean up after itself to minimize space usage, which is just turned off by default

[2017-11-11 02:57] cccsander commented on #85
Joining the discussion ....

[2017-11-11 04:16] sacdallago commented on #85
From the discussion with @cccsander :

- Save the configuration file and make it available to download (i.e. the job description, the python-config file which is fed to the pipeline in order to produce the results for that run). This way users can easily re-run the job in the future. [I think this we were storing already]. Maybe even make it downloadable easily somewhere on the results page. [e.g.

[2017-11-11 09:18] thomashopf commented on #85
Yes fully agree, including it makes the settings 100% transparent and reproducible.

Being able to upload a config file would be a very nice feature too, but then this becomes an absolute input validation nightmare and probably users should be using the pipeline locally.

[2017-11-11 13:11] thomashopf commented on #83
With CNS I think it would be the simplest solution if Debbie and Chris ask Axel Brunger if it would be okay to include it in the container

[2017-11-11 16:21] thomashopf commented on #85
API endpoints using these files defined here: debbiemarkslab/EVcouplings-server-backend#4

[2017-11-13 14:36] sacdallago commented on #83
# CNS
http://cns-online.org/v1.21/ (license button on bottom right)
----

             LICENSE FOR ACADEMIC (NON-PROFIT) INSTITUTIONS
                    TO USE CNSSOLVE GENERAL-RELEASE 1.2

                         TERMS OF AGREEMENT

BY DOWNLOADING OR USING THE CRYSTALLOGRAPHY & NMR SYSTEM SOLVE (CNSSOLVE)
GENERAL-RELEASE 1.2 SOFTWARE YOU AGREE TO THE FOLLOWING TERMS:

- YALE UNIVERSITY RETAINS

[2017-11-13 14:40] sacdallago commented on #83
Bottom line: both can be used for non-commercial purposes (so, we are good to go) but we should cite them in the Readme (which we do, if I'm not mistaken).

Please let me know if there are other licenses to be checked ( pinging @kpgbrock && @b-schubert )

[2017-11-15 20:46] deboramarks opened #87 "Finding structural "homologs""
We should search with HHPRED for all queries independent of alignment depth of search.
Just as an alert rather than to use and not to be put in web server.
( Current status with alignment search is under review from Thomas)

[2017-11-15 23:16] rohanmaddamsetti opened #88 "parse error in uniref100_current.fasta"
Hi guys,

the pipeline dies almost immediately when I set off a run. I get the following parse error:

Error: Parse failed (sequence file
/groups/marks/databases/jackhmmer/uniref100/uniref100_current.fasta):
Line 1: unexpected char ; expected FASTA to start with >

I looked at this briefly with Christian, and he suggested that this is caused by some kind of encoding error (I see weird characters w

[2017-11-15 23:20] b-schubert commented on #88
the cron job, which is responsible of the monthly update, might have bugged out and corrupted the DBs.
could you run which in uniref100_current.fasta and report the result?

In the meantime, I can run the update script manually, which should fix the problem.

[2017-11-15 23:24] deboramarks commented on #88
What’s your config ?

[2017-11-16 00:12] rohanmaddamsetti commented on #88
sorry, stupid bug report. I updated my config file to the one on github and problem went away.

[2017-11-16 00:14] rohanmaddamsetti commented on #88
wait--never mind!

job just died again with the same error. Just attached my config file.

[J-alns-paper.conf.txt](https://github.com/debbiemarkslab/EVcouplings/files/1476842/J-alns-paper.conf.txt)

[2017-11-16 00:18] b-schubert commented on #88
the file from this months update was not fully downloaded and is corrupted. Im currently manually downloading the DBs but that will take a bit. Ill write you an email once the DBs are updated ;-)

[2017-11-16 00:20] rohanmaddamsetti commented on #88
Thanks Benni!

On Nov 15, 2017 19:18, "b-schubert" <notifications@github.com> wrote:

[2017-11-17 15:07] b-schubert commented on #88
Uniprot is gzipping the pasta dumps twice  now since October.....and that is causing the problem ....

[2017-11-17 15:44] sacdallago commented on #88
@b-schubert .... mmmmmhhh pasta dumps... I'm already getting hungry

[2017-11-17 17:59] b-schubert commented on #88
Resolved in PR #89

[2017-11-17 18:02] #88 closed

[2017-11-18 09:52] thomashopf commented on #87
Yep would be great to have in to have HMM-HMM as well as HMM-sequence using hmmsearch. Now is the time since it is closely related to the current hmmsearch pull request (#86).

What complicates this is that we would need a specific PDB HMM database as input - the compare submodule very consciously searches the corresponding uniprot sequences, *not* the PDB atom record or seqres sequences (which I

[2017-11-18 10:23] thomashopf commented on #83
This is the much bigger problem - hence why I suggested Debbie and Chris reach out to them

[2017-11-18 14:41] sacdallago commented on #83
I'll ping them

[2017-11-21 19:18] #71 closed

[2017-11-21 20:18] aggreen commented on #22
See #86

[2017-11-21 21:02] aggreen commented on #18
Currently the predicted contact maps for proteins with no structure are outputs of the compare stage. I know it seems somewhat illogical to run 'compare' and collect its outputs for a protein with no structure, but if we change this then we'll have contact maps in two different locations, which also seems illogical and will get confusing. Plus, the user won't necessarily know if they have a struct

[2017-12-05 20:29] aggreen opened #90 "Incorporate new coloring of EC enrichment"
New function for coloring EC enrichment should be incorporated into pipeline. The new function has more bins and a nicer color scheme.

[2017-12-05 20:33] aggreen commented on #12
Thomas - we assigned this to you because it seems like a "note to self" because it will only become an issue if and when we go to implement non-focus mode

[2017-12-05 20:34] aggreen commented on #17
Closed - opened as a front-end issue

[2017-12-05 20:34] #17 closed

[2017-12-05 20:36] aggreen commented on #18
@thomashopf Debbie mentioned that you two had discussed this today - are there any special considerations?

[2017-12-05 20:38] aggreen commented on #20
@sacdallago is implementing in frontend and will then be ported to backend

[2017-12-05 20:41] aggreen commented on #23
@sacdallago will re-implement this in the frontend with javascript - maybe port to the backend after new implementation.

[2017-12-05 20:47] aggreen commented on #28
Here are the equations. For now we can just use the one for 21 states as it is the worst-case scenario

Alphabet of size 21 (proteins without -g)
(L/153)^2

Alphabet of size 20 (proteins with -g)
(L/162)^2

Alphabet of size 5 (RNA without -g)
(L/645)^2

Alphabet of size 4 (RNA with -g)
(L/806)^2

[2017-12-05 20:54] aggreen commented on #64
Any updates on this? Seems like we could just wait for their updated file to be provided at this point.

[2017-12-05 21:00] aggreen commented on #75
Idea is we will all be writing test for the functions we have written

[2017-12-05 21:13] aggreen commented on #87
In my discussion with Debbie about this, we went back and forth on whether the HMMsearch output should be used in the comparison stage, or whether this should just be something that pops up as an alert for users on the webserver - letting them know that their protein may have a structure.

We don't want to add functionality to the webserver that is not implemented in the pipeline, so we will have

[2017-12-08 15:27] thomashopf commented on #23
This issue is just about the positioning of the number labels and the secondary structure cartoon along the x/y axes of the plots - the current solution with opposite sides is the robust and easy one since there won't be overlaps between the two. I originally had the functionality in to plot them on the same side, but that required a lot of manual fiddling. Independent of this, will be good to hav

[2017-12-08 15:37] thomashopf commented on #18
Yes we discussed this a while ago when I was still in Boston... I made very much the same arguments as you, Anna, so I am not sure if this is worth having (then again, I doesn't cost us that much)

[2017-12-08 21:53] sacdallago commented on #64
Just for the time being @aggreen , don't kill me ahah :)

[2017-12-08 21:56] sacdallago commented on #23
@thomashopf thanks for the clarification.

Most of the graphical stuff will be re-implemented anyway (there's almost no way to port py-whatever based viz to JS), so it doesn't make sense to spend too much energy in making this available through the pipeline now. Backwards (JS to pipeline) is way easier :)

[2018-01-03 16:59] b-schubert commented on #57
See PR #92

[2018-01-04 21:47] b-schubert commented on #57
Resolved in PR #92

[2018-01-04 21:47] #57 closed

[2018-01-08 19:40] aggreen opened #93 "Improve hmmbuild_and_search with stockholm-formatted alignments"
This comprises the following three steps:

1. Write a function that writes a stockholm-formatted sequence alignment. Function should be modeled after write_fasta in align/alignment.

Additionally, it should provide the option to input a reference coordinate annotation (see pg. 37 ofhttp://eddylab.org/software/hmmer3/3.1b2/Userguide.pdf for example) and write that annotation to the output file.

2.

[2018-01-08 22:25] b-schubert commented on #28
See PR #94

[2018-01-08 22:29] b-schubert opened #95 "0.0.2 Release"
Since EVcouplings has changed quit a bit over the last months, we should probably release a new official version.

What do you think?

[2018-01-09 18:04] thomashopf opened #96 "EVcomplex database file downloading / generation"
Necessary for EVcomplex part of pipeline to be usable.

Two escalation levels:

1) Distribute pre-generated downloadable file using DB update tool (download from lab website)

2) Include script that generates databases from source files in fully automated way.

For next release, I think having 1) would be sufficient.

[2018-01-09 18:05] thomashopf commented on #95
Yes we are definitely getting there - in terms of new features (EVcomplex integration, structure search with hmmsearch) I would say it ready.

Two important points are still missing though:

1) Must-have issue #96: Distribution of database files for EVcomplex (genome location, ID mapping). These are absolutely crucial for users to be able to use the complex pipeline, so minimally they should be av

[2018-01-09 18:47] thomashopf commented on #28
Re existing alignment memory requirement estimation: This is actually an annoying  case since we ideally want to avoid creating too much computational load (e.g. by reading the entire alignment) on job submission nodes... probably the cleanest strategy would be to scan through that file once using the FASTA file iterator until one finds the target sequence, instead of loading the entire alignment

[2018-01-10 18:15] rohanmaddamsetti opened #97 "Feature request: visualize ECs on a one-dimensional string"
It would be nice if we can make figures that visualize ECs as arcs between points on a string, especially for proteins where we get some high-confidence ECs but not enough to fold the full protein.

[2018-01-10 18:23] aggreen commented on #97
As described, this is a duplicate of #20

[2018-01-10 18:29] sacdallago commented on #97
I'm closing as duplicate. Thanks for the catch @aggreen

[2018-01-10 18:29] #97 closed

[2018-01-10 18:30] rohanmaddamsetti commented on #20
OK--I'll just upvote this issue then 👍

[2018-01-10 18:30] sacdallago commented on #20
This is way down my todo list, so I don't expect this to be out before April. If this is urgent, please let me know

[2018-01-10 22:04] kpgbrock opened #98 "Possible inconsistency in CSV export of secondary struct"
In this function ( https://github.com/debbiemarkslab/EVcouplings/blob/master/evcouplings/visualize/pairs.py#L752 ), a column with `id` needs to be defined, but in sec_struct.csv the column's header is just `i`. Maybe inconsistent?

[2018-01-11 20:26] kpgbrock opened #99 "Add in Uniprot and PDB id to contact maps"
Might be nice to add in PDB ids and uniprot id that was used to generate contact maps directly in the pdf files

[2018-01-12 21:15] sacdallago opened #100 "Update readme with GCC dependencies?"
Add GCC/G++/clang dependency (just to not get flooded with issues)

[2018-01-13 18:12] thomashopf commented on #99
Yep would be a nice addition (user should be able to decide if they want it on or off). Implementation needs attention to cases where there are many structures so text is correctly rendered on the plot (line wrapping etc.) or list is truncated after some reasonable maximum of structures to be listed.

[2018-01-13 18:21] thomashopf commented on #100
Not sure where the issue is? If re packages like numpy or numba - this is covered by the recommendation to use anaconda; if re compilation of external tools, that is none of our business.

[2018-01-13 18:41] thomashopf commented on #98
The distinction between *id* and *i* in general is intentional - the former is a residue identifier, the latter is a position in a sequence.

DSSP-extracted secondary structure is an example of the first (even though in our setting id = i since the structures are remapped into actual sequence indices using SIFTS). Secondary structure predictions are always an example of the second, which is why th

[2018-01-13 18:41] #98 closed

[2018-01-14 16:38] sacdallago commented on #100
That's fair enough... It's a bit tricky though because it's external dependencies within the evcouplings pip install directive. Aka: some of the dependencies there need gcc to compile, and if that's not installed, `pip install evcouplings` will fail. Tried on out of the box, Azure cloud version of ubuntu 17.10

[2018-01-14 16:51] aggreen commented on #100
I ran into a problem with missing gcc dependencies when I recently did a
clean installation, thought it was just an environment problem, but yes I
also ran into this.

On Sun, Jan 14, 2018 at 11:38 AM, Christian Dallago <
notifications@github.com> wrote:

[2018-01-15 13:35] PeterARBork opened #101 "evcouplings_runcfg uses #!/usr/bin/python3 instead of #!/usr/bin/env python"
... And consequently fails to run, when the rest of EVcouplings is being used from a virtual environment.

Edit: This version is from a fresh installation today using
pip install evcouplings

Switching the first line between the two options in the title of this issue, I can get the following error due to python3.4 instead of my virtual environment's 3.6 being used, or a normal execution:

[code]

[2018-01-15 14:51] sacdallago commented on #101
@PeterARBork wonderful catch!

@b-schubert how do you feel about reviewing and changing this if indeed unintended? Just assigning you in case, but feel free to reassign :)

[2018-01-15 17:14] PeterARBork opened #102 "Couple of bumps on the way for a new user"
Based on the articles, I think your method is very interesting, so I'm adding this "issue" to give something back in the form of helping you guys know where people like me get errors.

Running a pipeline nearly identical to the example_config, I ran into a long stacktrace because the lines below got a keyerror for resseq_end.

A try-catch around these with a helpful reminder instead of the long st

[2018-01-15 17:47] b-schubert commented on #101
Hey @PeterARBork,
thanks for the feedback!

@sacdallago
The shebang is autogenerated by setup tools, so its not a super easy fix. I'll see what I can do....

[2018-01-15 17:50] aggreen commented on #102
@PeterARBork - thanks for your feedback! We are definitely interested in
this sort of user input.

This might be relevant to your issue, but minimally is useful for us to
have noted: I recently did a clean installation of evcouplings in a new
conda python3 environment. I ran into an issue today where the version of
pandas that was being called by evcouplings was out of date. The complexes
pipeline

[2018-01-15 18:08] b-schubert commented on #101
See PR #103

[2018-01-15 19:10] thomashopf commented on #100
Hmm can you please pinpoint which package(s) caused this? If it is one of the anaconda base packages, it would be very odd. If it is something else that is a requirement of evcouplings but not included in anaconda and therefore would need to be installed using conda install, that would warrant some thinking/action.

[2018-01-15 19:13] thomashopf commented on #101
Thanks for reporting and submitting the PR... my minor issue is that it kills Windows usage (not that the pipeline has ever been tested under Windows)... is there any anticipation if/when this will be fixed in setuptools?

[2018-01-15 19:23] thomashopf commented on #102
@PeterARBork: Certainly, much appreciated in ironing out any problems with the package! If you could provide us with the full set of input/output files (including your SIFTS tables) and both full stack traces, that would be great and very helpful to diagnose what is going wrong here. Definitely not a typical error...

@aggreen: Yep looks like a pandas issue and/or corruption of the tables to me.

[2018-01-15 19:31] b-schubert commented on #101
The Issue is open since Feb 2016.... So probably no easy fix in sight or very low priority....

[2018-01-15 21:16] sysbiogirl opened #104 "Floating point overflow in single site model recalculation"
I encountered these floating point errors when using the mean_field approximation algorithm to calculate coupling scores. Model file attached.
[AIM2_HUMAN.model.zip](https://github.com/debbiemarkslab/EVcouplings/files/1633020/AIM2_HUMAN.model.zip)

[code]

[2018-01-16 06:44] thomashopf commented on #104
Thanks for reporting Hailey!

Can you also share the piece of code where you call the function, or was that during a pipeline run? If pipeline, would be great if you could post the path on Orchestra, or the alignment and config files on here too. Looks like it might be caused by a pathological alignment to me...

[2018-01-16 07:03] thomashopf commented on #101
Hmm after reading that issue I am very confused, since it suggests that the actual interpreter for that virtualenv should get substituted (hence the complaints about too long paths getting truncated). So I wonder if there is an issue with @PeterARBork‘s virtualenv setup here rather than setuptools?

[2018-01-16 08:54] PeterARBork commented on #101
@thomashopf, it might well be my setup that has an issue. Where are the complaints about too long paths getting truncated?

[2018-01-16 18:07] thomashopf commented on #101
@PeterARBork They are found here: https://github.com/pypa/setuptools/issues/494

[2018-01-16 18:17] sacdallago commented on #100
@thomashopf it's not standard anaconda, its a dependency of EVCouplings.

I will recreate a new 17.10 VM and report back, probably over the weekend or later this week.

[2018-01-16 18:18] sacdallago commented on #99
Should this go into v0.0.2?

[2018-01-16 21:48] sysbiogirl commented on #104
[AIM2_HUMAN.zip](https://github.com/debbiemarkslab/EVcouplings/files/1636952/AIM2_HUMAN.zip)
No problem!

This was during a pipeline run. The Orchestra path is here: /groups/marks/users/hcambra/projects/human_death_fold/output/AIM2_HUMAN/couplings/AIM2_HUMAN.model

And I've attached the config and alignment files.
[AIM2_HUMAN_config.txt](https://github.com/debbiemarkslab/EVcouplings/files/1636948/

[2018-01-17 19:11] thomashopf commented on #99
If it is ready by then absolutely, but not a must-have feature for v0.0.2.

[2018-01-17 19:14] thomashopf commented on #100
Ok thanks - will be crucial to know which exact dependencies cause the issue to see what action is required.

[2018-01-17 19:15] thomashopf commented on #104
Thanks Hailey - I'll have a look as soon as I can - probably will be this weekend

[2018-01-17 19:51] sacdallago commented on #100
@thomashopf : psutil !!

stack trace:
-------
[code]

[2018-01-18 17:58] b-schubert commented on #102
@PeterARBork:

Could you give us a bit more information. E.g.

1) what operating system,
2) which python version and package versions,
3) how did you setup the virtual env,
4) how did you install evcouplings,
5) and lastly how did you call the pipeline

[2018-01-23 08:32] PeterARBork commented on #102
@b-schubert:
1. OS: 14.04.1-Ubuntu
2. Python 3.6.3, tools installed in a fresh virtual environment. @aggreen: Pandas was v 0.22.0 (pip says its already up-to-date).
3. /../miniconda3/bin/python3.6 -m venv venv_EVCouplings
4. pip install evcouplings
5. /../corrected_bin/evcouplings_runcfg ./config/my_config.txt

Apart from editing my_config.txt and getting databases, the commands 3-5 is how I start

[2018-01-23 08:37] PeterARBork commented on #101
@thomashopf, can I do something to help you close this issue?

[2018-01-23 09:45] PeterARBork commented on #102
Using empty folders for the SIFTS tables in the configuration file gives me the pandas stacktrace in the original post. The code checks if the given path is a valid file, but when given an empty folder it can return a value mistaken for True:
https://github.com/debbiemarkslab/EVcouplings/blob/bf2db23ed47ff5700a4da0251a117d01fa51ce45/evcouplings/utils/system.py#L104
(I checked, and my empty folder

[2018-01-23 10:08] PeterARBork commented on #102
The stacktrace below is obtained as per the procedure described above.

bokeh is version 0.12.13, and a pip install --upgrade bokeh says everything is up-to-date.

I checked bokeh, and it seems they've dropped the resize tool so that I'll need an older version of bokeh to run the pipeline:
https://github.com/bokeh/bokeh/issues/4196

[code]

[2018-01-23 15:35] b-schubert commented on #101
Im still a bit confused....Setuptools sets the path to the python binary that was used to compile the package. Your call and the stack trace however indicates that you have compiled EVcouplings with your system python version, not with the python binary of venv_EVCouplings. Is that correct?

[2018-01-23 15:44] b-schubert commented on #102
@PeterARBork I presume that you activated the virtual environment before you installed and called EVcouplings?

[2018-01-23 15:53] ariesselman opened #108 ""Structure contains more than one model" Error"
Running the pipeline, I would like to do the standard compare part of the code to get TP rates, etc, but I receive this error.

Is this an issue with the "reduce_chains" argument? It is set to default in these runs. I would still like to get back multimer contacts in these runs.

[2018-01-23 18:23] thomashopf opened #109 "Remove resize tool in bokeh-based mutation matrix plots"
See #102 and https://github.com/bokeh/bokeh/issues/4196

Fix is trivial: Change https://github.com/debbiemarkslab/EVcouplings/blob/develop/evcouplings/visualize/mutations.py#L336 to `TOOLS = "hover"`, we can live without the resize.

But needs verification that it actually fixes the problem with the latest version of bokeh

[2018-01-23 18:28] thomashopf commented on #102
Re bokeh resize: That we will definitely need to fix ... created a separate issue in #109

Re SIFTS tables:

That is the way the comment in the config file is intended: The folder has to be there, but the file itself isn't (i.e. the name of the file specified is the file that will be created, kind of a "save as"). Alternatively the same happens if the file would be there but completely empty.

I'l

[2018-01-23 18:29] #102 closed

[2018-01-23 18:38] thomashopf commented on #108
This problem happens in the fold stage when comparing the predicted models to experimental structures (very unambiguous naming, I know...). The used tool (maxcluster) is very sensitive to things like alternative locations or multiple models (like in NMR structures), so this is a preemptive crash, which is a bit of an unnecessary harsh landing... The thing is, the structures extracted in the compar

[2018-01-23 19:04] thomashopf commented on #109
Whoever gets round to changing & testing should just merge the fix to this right away

[2018-01-23 19:10] sacdallago commented on #108
@thomashopf should we catch this and produce another type of error response? Sounds like that, to me. In case we can turn this issue into an enhancement/feature for v0.0.2/3

[2018-01-23 21:12] sacdallago commented on #100
@thomashopf ?

[2018-01-23 21:14] sacdallago commented on #104
@kpgbrock just for reference

[2018-01-23 21:24] sacdallago commented on #75
Testing hackathon:

- Monday 12th Feb

@b-schubert you available?

[2018-01-23 21:27] b-schubert commented on #75
jup

On Tue, Jan 23, 2018 at 4:24 PM, Christian Dallago <notifications@github.com

[2018-01-23 22:38] sacdallago opened #110 "Update example config files"
One of the things to add is:

https://github.com/debbiemarkslab/EVcouplings/blob/develop/config/sample_config_monomer_o2.txt#L143

Now the options are `standard` for plmc and `mean_field` for dca.

Please comment here for any other changes to the headers in the config files

[2018-01-23 22:44] PeterARBork commented on #102
@b-schubert, yes, I activated the virtual environment before installing and running EVcouplings (the stacktrace shows the virtual environment's python 3.6 being used, and I can confirm that the virtual environment was activated before installation).

@thomashopf, I appreciate your efforts and it makes sense to me that we specify the desired "save as" filename in the config rather than an empty fol

[2018-01-23 23:00] PeterARBork commented on #101
@b-schubert, I did the following on 14.04.1-Ubuntu:
1. /../miniconda3/bin/python3.6 -m venv venv_EVCouplings
2. activate environment,
3. pip install evcouplings
4. Try running command shown in first stacktrace above, and discover that the shebang line in the evcouplings_runcfg is pointing at system-wide installation. Edit the line etc. as shown above.

My system-wide python installation is version

[2018-01-24 16:51] thomashopf commented on #100
According to the anaconda website, psutil is in the packages distributed with a full anaconda installation so the problem shouldn't occur.

@sacdallago Did you start with an empty conda environment without `conda install anaconda`? This would be the case if 1) one uses miniconda or 2) one creates a new environment with a regular full anaconda installation. Your stacktrace suggests case 1).

@aggre

[2018-01-24 16:54] aggreen commented on #100
Yes, I made a new anaconda environment using the already installed Marks
lab anaconda and ran into the GCC dependency problem

On Wed, Jan 24, 2018 at 11:51 AM, thomashopf <notifications@github.com>
wrote:

[2018-01-24 16:55] thomashopf commented on #109
Needs fixing as soon as possible

[2018-01-24 16:56] thomashopf commented on #108
@ariesselman Can you please point me to the output of that job on Orchestra?

[2018-01-24 16:58] thomashopf commented on #100
@aggreen Without running any `conda install` commands before installing evcouplings?

[2018-01-24 19:45] aggreen commented on #100
Nope, all I did was make a new conda environment and then pip install -e
path/to/evc

On Wed, Jan 24, 2018 at 11:58 AM, thomashopf <notifications@github.com>
wrote:

[2018-01-24 23:35] sacdallago commented on #100
@thomashopf for me: I installed miniconda + `source activate` (no args, which activates the root --> is actually the same as not sourcing anything) + `pip install evcouplings`

[2018-01-25 16:01] aggreen commented on #109
working on it now

[2018-01-25 17:49] sacdallago opened #111 "atom_distance default should be named"
In https://github.com/debbiemarkslab/EVcouplings/blob/develop/config/sample_config_monomer.txt#L223 the default is "leave empty", which by inspecting the code seems to fallback on `Null`. This is not good practice. Either this field is boolean, or all options are named (e.g. default: minimum atom distance = MAD), and one of the options is defaulted (in this case MAD).

Should be addressed in v0.0.

[2018-01-25 20:32] aggreen commented on #109
Closed - #112

[2018-01-25 20:32] #109 closed

[2018-01-26 14:27] aggreen opened #114 "Summarizer fails without filelock package"
I recently created a new conda environment and installed evcouplings using pip install -e path/to/development/repo.

Using this environment, the summarizer functionality of the pipeline was not outputting any files because the filelock package was not installed. No error was thrown, and I confirmed that the function was being called and doing computation, but not writing to file. Neither the plots

[2018-01-26 14:34] thomashopf commented on #114
filelock is already in the dependencies and should be installed during a regular pip install evcouplings, so it very much looks like the `-e` option is the reason: https://github.com/pypa/pip/issues/4780

So I suppose nothing we can or need to do here, that is just setuptools behaviour that fortunately does not affect regular users.

[2018-01-26 14:42] thomashopf commented on #114
I'll close for now since only relevant to developers, but not a problem of evcouplings -if you should ever see this happening with a regular pip install (without -e) please reopen.

[2018-01-26 14:46] thomashopf commented on #114
Actually - the part that puzzles me though is that there you cannot see an ImportError? If the summarizer fails, that output should just be in the stderr dump of the pipeline...

[2018-01-26 14:56] aggreen commented on #114
Okay good to know, we can close this then.

On Jan 26, 2018 9:34 AM, "thomashopf" <notifications@github.com> wrote:

[2018-01-26 15:05] thomashopf commented on #111
No - the parameter is about what particular atom_filter is applied to the coordinate list, no filter being the default (aka None). The type of computed distance follows from that, but this is decidedly *not* a direct switch between minimum atom or C_alpha or any other distance function. I am updating the documentation a little to make this point more explicit, but there is nothing to be addressed

[2018-01-26 15:06] #114 closed

[2018-01-26 15:48] aggreen commented on #114
Apologies for that earlier reply - I was on mobile and didn't see that you had reopened the request. I'm content to just leave this as a mystery since it's now working on my machine and no one else has had this problem. Here's a bit more of a summary in case this ever comes up again.

In my orchestra anaconda environment from /groups/marks.users.agreen.evcoupligns_data/elongasome_monomers, I execu

[2018-01-26 16:27] #100 closed

[2018-01-26 16:27] #104 closed

[2018-01-26 16:27] #108 closed

[2018-01-26 16:29] thomashopf opened #116 "Improve mean-field integration"
While investigating #104 I found a couple of issues with the mean-field protocol and couplings objects that would be great to address:

1) The mean_field couplings protocol should allow to specify the pseudocount weight as a parameter (given the inference method itself has the option already)

2) It looks like there may be some sign problem with the mutation effects computed using mean-field coupl

[2018-01-26 16:33] thomashopf commented on #108
Problem was that the first_index parameter in the align section didn't make it through to the compare stage, leading to a numbering mismatch, leading to empty structures. The standard protocol, analogously to the existing protocol, now passes through first_index as an output.

(Alternative solution is to define specify first_index in the global section, but this wouldn't work with complexes where

[2018-01-26 16:43] thomashopf commented on #104
So this was actually a funky problem during inference of the independent model ... Because mean-field doesn't know lambda_h and lambda_J, the respective fields in the model are -1. In the CouplingsModel object, this performed as anti-regularization incentivizing the parameters to become as large as possible :D

Consequences of this problem: Mutation effects using independent model on mean-field co

[2018-01-26 16:48] sacdallago commented on #111
First: nice to have you bursting out with PRs and solutions :) Much appreciated.

About this particular issue: I understand. Let me change the question/issue then (and reopen, for the time being): what's the behavior for erroneous input? If I were to set this value to NOT None and NOT CA?

There are two options, from an SWE perspective:
- Fail --> throw an error
- Fallback to a default

The Fail o

[2018-01-26 18:18] thomashopf commented on #111
Valid options are any PDB atom names, or lists thereof if one wants to ask more advanced questions (like minimum atom distance between backbone atoms etc).
https://github.com/debbiemarkslab/EVcouplings/blob/develop/evcouplings/compare/pdb.py#L126

The problem is this discussion is moot. Obviously there is a lot of room for improvement everywhere and one could handle these things better and more ro

[2018-01-26 18:18] #111 closed

[2018-01-26 19:17] aggreen opened #117 "user-proof command line options for EVcomplex"
Adam brought to my attention today that users are allowed to supply some command line options that are nonsensical for the complex pipeline. This leads to errors upon execution.

For example:

If you use the -b flag in the command line to change bitscores, but supply a complexes config file, the pipeline will fail when it tries to overwrite config["align"]["use_bitscores"] because the align stage

[2018-01-26 20:37] b-schubert commented on #117
Another solution would be subcommands that change the other command line behavior a la:

See:  https://docs.python.org/3/library/argparse.html#argparse.ArgumentParser.add_subparsers

[2018-01-27 14:53] thomashopf commented on #117
Yep: https://github.com/debbiemarkslab/EVcouplings/blob/develop/evcouplings/utils/app.py#L7 ;)

Conceptually, there are two points here which go a bit mishmash in the current implementation:
1) evcouplings is a generic config file runner that has to be able to run any pipeline specified in the config (right now, this is evcouplings <config_file>, plus the --yolo flag)
2) Most additional flags are

[2018-01-29 18:26] aggreen opened #118 "Example complex config file has wrong compare stage"
Minor fix: change the comparison protocol and description in the complex config file from 'complex_compare' to just 'compare' - I changed the name of this protocol but forgot to update the example config

[2018-01-31 00:53] #118 closed

[2018-01-31 15:16] aggreen commented on #22
fixed by #113

[2018-01-31 15:16] #22 closed

[2018-01-31 15:20] aggreen commented on #90
@thomashopf I have a function ready to go that would replace the existing enrichment_pymol_script function. Is there any reason to keep the old color scheme around, or should we just replace the function entirely? (Maybe keep the function as enrichment_pymol_script_legacy but don't call it in the pipeline?)

[2018-01-31 17:07] thomashopf commented on #90
Yep let's have the new & nice one as default when calling enrichment_pymol_script, i.e. also in the pipeline, and the old one can still be obtained using legacy_style=True as parameter to the enrichment_pymol_script function (but no need to have that in config file, if someone wants the old version, they need to call the function themselves)

[2018-01-31 17:09] thomashopf commented on #96
Just a bump on this, once this is ready (escalation level 1) we are ready for a new release

[2018-02-01 20:50] sacdallago opened #122 "Add optional --master config flag"
The EVcouplings server frontend spits out a stripped down config for the users to run on local instances. There are two approaches as to how the user could set the job to run locally:

1. Write environment specific parameters (e.g. databases, environment, dependencies, submitter,...) in the config file downloaded from the frontend (a lot of copy-pasting, error-prone if frequent).
2. We allow an op

[2018-02-02 13:50] cokeyk commented on #88
I also received the same problem, how did you solved the problem?
（I utilized the esl-sfetch function to processed the fasta database and obtain the format ssi files）

[2018-02-02 15:43] sacdallago commented on #88
@cokeyk if you used `pip install evcouplings` to install the pipeline, you have unfortunately fallen into one of the recent braking changes of uniprot's database delivery. We fixed this issue in the development branch of our pipeline and will be shipping an updated package (installable via pip) by the end of the month (sorry about that!). In the meantime, you have two alternatives:
1. Rename the `

[2018-02-03 13:43] thomashopf commented on #122
Certainly won't hurt to have this feature to apply a configuration delta to some other config file, could also be useful in other settings.

1) Has to be implemented the other way round though to be consistent with the logic of the command line processing (cf #117): The positional argument is the actual "master" config file, all other parameters override settings in there, i.e. the command line ar

[2018-02-05 17:17] sophiamersmann commented on #116
Hi @thomashopf , yes, I will have a look at it as soon as possible.

[2018-02-05 17:59] sacdallago commented on #122
:) good. You point one has been a fiery debate between me and @b-schubert . I lean towards implementing it how you suggest, whereas @b-schubert leans toward what I wrote in the initial issue. Benni's point is: the expected behavior of the api is that the **JOB** is the last argument, as means of consistency. While I agree with this point to some extent, I think that the operation of overwriting so

[2018-02-06 12:51] thomashopf commented on #122
@b-schubert Benni, could you please write out your full reasoning for --master? I currently don't understand why this would be a more consistent solution.

The way I intended this was
* Job that runs = configuration you get after applying any changes to master config, and if you don't apply any flags, everything has to be inside the master config. When you run evcouplings -p RASH_HUMAN config.txt,

[2018-02-07 14:29] sacdallago opened #123 "Symbolic link creation as absolute path"
When downloading the databases and using optional create symbolic links, the symbolic links should always refer to the absolute path, not to the relative that the user might have used in the command line. Failing to do so will render the links invalid and the pipeline will fail to run :(

[2018-02-08 02:44] sacdallago commented on #123
Fixed

[2018-02-08 02:44] #123 closed

[2018-02-08 03:10] sacdallago commented on #84
Update: we probably have to write different "drivers" for this, but currently I want to keep the dependencies of the backend to a minimum, and we already depend on too many things: relational db, redis, workers,... Adding another dependency (mongo) seems a bit too much. We can store blobs in relational dbs too, and as far as all text files are concerned (most of the files), those are excellent can

[2018-02-09 16:47] thomashopf commented on #84
I don't see any issues here. One additionally specifies the type of database (with another item in the management section, then:
* if relational database, just track status as it is now (not used for webserver anymore, but useful in other settings like tracking large number of command-line pipeline runs)
* if MongoDB, track status and additionally store the requested output keys / files (all infor

[2018-02-09 16:55] thomashopf commented on #116
Great, thanks!

[2018-02-09 20:37] sacdallago commented on #84
I understand. Fair enough.

Writing the abstraction layer between relational and mongo is low priority for now and I don't expect to get around doing that before end of April. So, let's keep this one for then.

[2018-02-12 14:30] sacdallago opened #127 "Jobs on o2 fail, looking for a needle in the haystack"
I've gotten celery workers to submit jobs on o2, which is nice.

In theory, the jobs are submitted transparently, meaning that it doesn't matter that _actually_ I'm submitting them from the web, so really there must be a problem with my config files.

You can see all the runs I've tried by `ssh`ing into o2 and navigating to `/n/groups/marks/web/evcouplings_backend/runs`, the most recent run is `0f

[2018-02-12 20:22] b-schubert opened #128 "utils.helpers.range_overlap does not work correctly with negative numbers"
the range_overlap function does not compute negative interval overlap correctly....

e.g.:
[code]
should return 1 but returns 0.  Should we fix that or can we just ignore it since we would never expect negative numbers?

[2018-02-12 22:42] sacdallago commented on #127
Fixed it:

`atom_filter` in `[batch][compare]` is set to empty string instead of `None` if default is to be used. Stems from https://github.com/debbiemarkslab/EVcouplings-server-backend/blob/development/evcouplings_server/api/jobs/parsers.py#L189

To resolve: change all `""` assignations in that dict to `None`, as well as remove default value for `get(...,>here<)` such that it falls back on `None`

[2018-02-12 22:42] #127 closed

[2018-02-12 23:03] sacdallago commented on #95
@thomashopf @b-schubert @aggreen @kpgbrock

**UPDATE**

We deploy 0.0.2 **now** and deploy 0.0.3 as scheduled in the milestone https://github.com/debbiemarkslab/EVcouplings/milestone/1

Reason: there are important bug fixes on the current develop branch that can't wait any longer. Meantime, we will be working exclusively on tests (until March)

IF no one has strong suggestions: by WED:
- bump all

[2018-02-12 23:13] aggreen commented on #95
I am currently fixing a couple more bugs in develop so NO DEPLOYMENT until
I say so

On Mon, Feb 12, 2018 at 6:03 PM, Christian Dallago <notifications@github.com

[2018-02-13 18:36] thomashopf commented on #95
1. We are not having deadlines here
2. v0.0.2 goes out when it is ready - since Anna is taking the effort of testing & fixing, that call is up to her
3. We'll have a discussion about v0.0.3 release after v0.0.2 is out
4. We will not be working exclusively on tests.

[2018-02-13 18:45] thomashopf commented on #128
Better to fix... looks like the problem is caused because start > end but it should be start < end.

Could either swap if given the wrong way round (but then becomes muddy what is inclusive/exclusive), or raise and InvalidParameterError if start >= end (and update documentation accordingly to make that constraint transparent).

[2018-02-13 19:10] sacdallago commented on #95
@thomashopf Anna and I wrote the issue together yesterday :) so, no worries, the "now" was more abut whenever anna's done.

The "exclusively on test" is more to get some big chunk done by end of feb, so that we all have a common goal and can help out each other, since just doing this sporadically doesn't seem to bring us very far 😢  and this is also about the "deadlines", I think that for us here

[2018-02-18 15:27] thomashopf commented on #64
I wrote to the SIFTS people the other day to ask if there is any update on this. In case no such table should be available directly available from SIFTS, this is very high priority for correct functioning of the compare stage.

[2018-02-21 14:35] kpgbrock commented on #110
currently in the o2 example, in compare stage the option pdb_search_method should be pdb_alignment_method according to the code, and I think it's missing in the orchestra example config files

[2018-02-22 20:38] b-schubert commented on #95
Related to pypi deployment problems:

https://github.com/FaradayRF/faradayio/issues/35

[2018-02-22 22:48] b-schubert commented on #95
Automatic deployment is now working. The problem was/is:

1) the pypi password cannot contain any special characters
2) travis encrypt has to be called in the master repository and not in a forked repository

Release v0.0.1 is now officially on pypi

[2018-02-22 22:48] #95 closed

[2018-02-23 20:27] aggreen commented on #96
Pre-generated files made available by #124. We still need to make scripts to automate download, but this is currently lower priority.

[2018-02-27 15:14] #90 closed

[2018-03-02 15:01] rohanmaddamsetti opened #138 "bug running pipeline on O2"
I get this error message:

Traceback (most recent call last):
  File "/n/groups/marks/software/anaconda_o2/envs/evcouplings_o2/lib/python3.5/site-packages/pandas/core/computation/scope.py", line 179, in resolve
    return self.resolvers[key]
  File "/n/groups/marks/software/anaconda_o2/envs/evcouplings_o2/lib/python3.5/collections/__init__.py", line 881, in __getitem__
    return self.__missing__(

[2018-03-02 15:20] aggreen commented on #138
This issue was fixed by #130 and is occurring because we have not yet updated the evcouplings distributions on o2. Watch for an email from @sacdallago later today about those updates.

[2018-03-02 16:32] sacdallago commented on #138
Please change the env in your config to `evcouplings_production`, or even `evcouplings_develop`. Thanks :)

If this persists, please reopen the issue.

[2018-03-02 17:12] rohanmaddamsetti commented on #138
When I change the env to evcouplings_stable or evcouplings_develop I get the following error:

Traceback (most recent call last):
  File "/n/groups/marks/software/anaconda_o2/bin/evcouplings", line 11, in <module>
    load_entry_point('evcouplings==0.0.2', 'console_scripts', 'evcouplings')()
  File "/n/groups/marks/software/anaconda_o2/lib/python3.6/site-packages/setuptools-27.2.0-py3.6.egg/pkg_re

[2018-03-02 23:55] sacdallago commented on #138
@rohanmaddamsetti sorry about this error, but this is extremely odd. It seems like you are using my branch of evcouplings, which is installed solely in my environments. I clearly installed evcouplings via pip in evcouplings_stable, so if that error happens, there is something fundamentally broken somewhere.

1. Where are you getting this error? If at the level of running evcouplings from the termi

[2018-03-02 23:59] b-schubert commented on #138
I fixed it.
@christian: you must have installed your branch instead of the pip version.

I fixed it for evcouplings_stable (but not for evcouplings_development)

On Fri, Mar 2, 2018 at 6:55 PM, Christian Dallago <notifications@github.com>
wrote:

[2018-03-03 00:15] sacdallago commented on #138
@b-schubert I'm getting very suspicious, honestly. Look at the stack trace of @rohanmaddamsetti , evcouplings is a binary (fine) but it is not in an env (wrt. to the first stack trace). I'm pretty, pretty sure I ran `pip install evcouplings` on stable, there's a very slim chance I could have mistyped that :)
Additionally, I'm noticing that I get errors myself with my development environment which

[2018-03-03 00:41] rohanmaddamsetti commented on #138
in any case, evcouplings_stable is working for me now, thanks guys

[2018-03-03 00:41] #138 closed

[2018-03-03 00:51] sacdallago opened #139 "[INTERNAL] o2 conda behaves inconsistently"
As from https://github.com/debbiemarkslab/EVcouplings/issues/138#issuecomment-370094824

A few guesses:
- [ ] cached stuff?
- [x] PATH

[2018-03-03 00:52] sacdallago commented on #139
Tested PATH, can't be the reason as env bin is appended in front of everything else:

[code]

[2018-03-05 15:19] aggreen opened #141 "Folding comparison contact maps"
So-called "green lawn" plots. In the folding stage, make or have the ability to make a contact map for each individual structural model with the following:

1. The contacts in that folded model
2. The contacts in the real crystal(s) as comparison
3. The ECs used for fold.

Generate this for the top 10 folded models (or give users ability to modify). This is useful for troubleshooting folding.

[2018-03-05 19:34] aggreen commented on #110
@kpgbrock apologies for this, it is fixed in #142

[2018-03-06 14:11] sacdallago commented on #110
We can close, for now. There are gonna be other changes in ev0.3

[2018-03-06 14:11] #110 closed

[2018-03-06 15:28] aggreen opened #144 "Improve error messages in read_species_annotation_columns"
This function needs to throw a clear error when the user provides an annotation file that has no entries in the "OS" or "Tax" column, something like "Provided annotation file has no annotation information".  In addition, this function needs to first confirm that the dataframe contains at least one of the SPECIES_ANNOTATION_COLUMNS - I suspect it will return an error otherwise, which will only affe

[2018-03-09 09:41] thomashopf commented on #64
SIFTS will provide those tables for us, which is awesome. As soon as the table goes live on their website, I'll update the code to make full use of it.

[2018-03-09 15:03] sacdallago commented on #139
UPDATE:
@b-schubert has updated anaconda on O2. I'm gonna do some testing as soon as I get around doing it...

[2018-03-10 23:04] b-schubert commented on #128
resolved in PR #148

- Function will through InvalidParameterError as suggested

[2018-03-10 23:04] #128 closed

[2018-03-12 17:22] thomashopf commented on #116
Thanks @sophiamersmann for implementing all the changes!

Whenever someone has time it would be great to verify on one of the beta-lactamase datasets that the mutation effect calculation with mean-field works as intended and we get a correlation around or above r=0.7 (negative sign -> damaging mutation) - leaving the ticket open until then.

[2018-03-19 18:14] sacdallago opened #149 "Starting position vs region"
I was just thinking about this with @aggreen and she couldn't give me a definite answer, so just to see if someone has an idea. It's for clarity, rather than anything else.

IF I pass a sequence via FASTA (assume a length of 200) and define a region in it (50 to 100) and also specify that the starting position of the FASTA sequence is 20 (original length of the protein 600), will the computation c

[2018-03-19 19:05] kpgbrock commented on #149
To answer the question - it would start at 50 when numbering from the full sequence (or the 30th residue in your input sequence file) if you specify the first_index parameter to be 20 I believe.  Or to put it more simply:

If you input a sequence file and further specify a range of that sequence to run, the current default is to consider the first residue in the file to be at position 1.  However,

[2018-03-19 19:05] #149 closed

[2018-03-20 22:56] sacdallago commented on #139
The cause seems to be that `pip` is not installed in the environments, and that is again probably due to an error with file permissions in the pkgs folder (same as: https://github.com/conda/conda/issues/6953). So I used the workaround described in that issue to install pip, and subsequently evcouplings, which now is installed in the right bin folder. I guess some more testing should be done, espec

[2018-03-20 22:56] #139 closed

[2018-03-20 22:57] sacdallago commented on #139
p.s.: I also upgraded the base env to `4.5.0`

[2018-03-23 21:35] sacdallago opened #150 "Circular dependency"
In the latest develop version, there appears to be a circular dependency, that causes the `evcouplings` CLI to fail (before submitting the job).

Stack trace:

[code]

Is probably exactly this: https://github.com/debbiemarkslab/EVcouplings/pull/147#discussion_r173625763

:)

[2018-03-23 21:41] aggreen commented on #150
Ugh I don't understand why it works in the Travis build and test cases but
not in production. I will look into it but if anyone knows do chime in.

On Fri, Mar 23, 2018, 5:35 PM Christian Dallago <notifications@github.com>
wrote:

[2018-03-23 21:50] aggreen commented on #150
If we need it to work right now, the fast fix is to roll back my commits to
the mutate protocol and not care that some of the test cases are failing

On Fri, Mar 23, 2018, 5:41 PM Anna Green <anna.g.green@gmail.com> wrote:

[2018-03-24 14:02] sacdallago opened #151 "KeyError: 'alignment_id'"
This problem happens on stable in compare and makes the execution of later stages crash.

AFAIK it happens when no PDB structure to compare with is found, a complete stack follows.

[code]

In the config for this file, the pdb alignment method is set so:
[code]

@aggreen should have fixed this on develop but due to the circular dependency, it's hard to test, and I would keep it open until confirme

[2018-03-24 14:08] sacdallago opened #152 "environment > configuration > source activate is ignored"
In `/n/groups/marks/users/assaf/dor/BB22OPb` check the `Immunity_config.txt` and `Immunity.failed` files. There is a major inconsistency:

In the config:
[code]

but in the stack trace:
[code]

Notice, that `evcouplings_stable` env is being used instead of the one indicated in the config. This needs fixing before _submission_, otherwise, we cannot claim reproducibility.

The reason why this phenom

[2018-03-24 14:09] sacdallago commented on #150
@aggreen currently the problem is that on o2 the stable branch fails with no PDBs to compare to, and the develop branch fails to submit jobs due to the circular dependency.

These problems should definitely be addressed before _publishing_, and I would argue that it's better to fix them, rather than roll back (given that the `alignment_id` derives from merging complexes?)

[2018-03-24 14:13] sacdallago commented on #101
Anything to do here?

[2018-03-24 14:26] sacdallago commented on #150
had to tweak compare/sifts/find_homologs to be able to handle both
jackhmmer and hmmsearch results.

Thanks for clarification :)

introducing the circular dependency, revert the mutate protocol back to the
way it was, and push those new commits so that we can have a working
version today. Then I can take the time to figure out how to solve this
issue for real without touching the actual mutate pro

[2018-03-24 14:26] b-schubert commented on #101
there is no existing solution that works for all systems. It is an issue on setuptools site that has been known since 2015.

[2018-03-24 14:27] sacdallago commented on #122
This must be done for 0.0.4 because it's advertised on the new web frontend. Should be a minor thing, but I have not yet started. Will work on it on the plane tonight/tomorrow

[2018-03-24 14:28] sacdallago commented on #101
Ok, wontfix and closing

[2018-03-24 14:28] #101 closed

[2018-03-24 16:27] aggreen commented on #151
I have verified that this is fixed on develop for both jackhmmer and hmmsearch options.

Jackhmmer: I tested this using the config file @sacdallago sent this morning, which was yielding the error using the jackhmmer option.

Hmmsearch: tested earlier this week with Bobby

Not sure if we should close this issue as it is still something that is broken on the master branch and stable environment on o

[2018-03-25 13:44] #150 closed

[2018-03-25 13:45] sacdallago commented on #151
No; if a fix is merged tested in dev, we can close :)

[2018-03-25 14:54] sacdallago opened #155 "Change some flag names and entry points"
I suggest that for `0.0.3` we change some flags both for clarity and _"seriousness"_:

1. The flag `--yolo` --> `--overwrite-previous-results` or `--overwrite-results`. More verbose: yes, more explicit: also. But especially: feels way less awkward to tell someone in another lab to use that flag when ev fails on existing results. + the `-y` option will still remain for those that prefer the short v

[2018-03-27 15:54] aggreen commented on #155
1. I am a big fan of the yolo option name, and I think given the
seriousness of every other aspect of this package, it is ok to have one
humorous element. Plus, I think it adds character (and whenever I've told a
collaborator I've gotten a laugh). My vote is in favor of keeping it.

2. No objection to this change. I do think db is acceptable to humans who
are using command line interfaces, but I s

[2018-03-27 18:17] thomashopf commented on #155
1. Zhe German Department of Humour and Command-Line Parameters wants to keep this ;)

2. I would turn this into a subcommand whenever the subcommands for monomer/complexes are getting implemented (e.g. evcouplings fetch_databases). Wouldn't touch it before that to avoid a double change.

[2018-03-27 18:20] kpgbrock commented on #155
Just want to voice my support for the yolo flag too ... after all, yolo? :D

[2018-03-27 18:21] thomashopf commented on #155
;)

[2018-03-28 09:04] sacdallago commented on #155
Okay, okay :D soooorryyyy

[2018-03-29 15:27] b-schubert commented on #152
The worker run as child processes and call the command via ```subprocesses.Popen```, with ```shell = True```

[2018-03-29 16:03] thomashopf commented on #152
Okay great so the environment solution should also work there... which means the above proposed solution is 100% consistent across different engines

[2018-03-29 20:08] aggreen commented on #152
I want to share a weird environment behavior I encountered on o2 today that may be related to this problem or may be independent. It probably needs to be considered for the solution.

If I use a particular environment, eg evcouplings_develop, to submit a job via the command line app, the run will fail if the configuration is set to "source activate evcouplings_develop." This behavior is new as of

[2018-03-29 20:21] aggreen commented on #151
This issue is fixed in the master branch of my development environment (or at least, it does not occur in my development environment). But, the issue is still occurring on evcouplings_develop on o2. I have checked the following:

1. There are no differences between my master branch and the evcouplings development branch on the github site

2. The same config file produces no error in my environmen

[2018-03-30 12:30] thomashopf commented on #152
If you first `source activate evcouplings_develop` and then sbatch the command "which python; which evcouplings", you will get
[code]
I guess this means that unlike on the old Orchestra, on o2 the submitted job inherits the environment from the submitting session. As evcouplings_develop is already active, the CondaEnvironmentNotFoundError occurs.

(This is assuming there is no source activate evco

[2018-03-30 13:07] thomashopf commented on #152
Fix for the actual issue in first post is implemented and will come shortly.

[2018-03-30 13:09] aggreen commented on #152
Hey Thomas, thanks for clarification on my issue. I'll update
evcouplings_monomer_o2 config and the email to our group to reflect this
new environment behavior.

On Fri, Mar 30, 2018 at 8:30 AM, thomashopf <notifications@github.com>
wrote:

[2018-03-30 13:32] thomashopf commented on #151
@aggreen I reproduced the same problem on o2 with the evcouplings_develop environment. I am a bit confused though... I don't see any recent commits of yours in here: https://github.com/debbiemarkslab/EVcouplings/commits/develop/evcouplings/compare/sifts.py

Could you point me to the commit where you fixed the issue?

[2018-03-30 13:45] aggreen commented on #151
I believe this was fixed by the January 2nd commit, c2a166f9da6d55a5ede4ee4bd0dfd4ec08540c69
By creating that raw focus alignment file with the query sequence, we guaranteed that hmmsearch would always return at least the query sequence as a hit.

Can you reproduce the lack of a problem with my environment, agg_evcomplex? This may be a new error which I can't reproduce for whatever reason, but it

[2018-03-30 14:11] thomashopf commented on #151
Seems to be some sort of pandas version issue... the by_alignment() call worked successfully on my local machine with pandas 0.19 until I upgraded to 0.22, now I get the same problem as on evcouplings_develop. Your agg_complex environment is on 0.20.3...

I'll have a look now if I can trace down why this breaks all of a sudden with the latest version.

[2018-03-30 14:57] thomashopf commented on #151
This is a groupby agggregation gone wrong - dataframe is empty, index columns are lost and then missing during the subsequent merge. Allegedly, this issue https://github.com/pandas-dev/pandas/issues/8093 has been fixed in pandas 0.22 but I find it odd that this is the very release that first caused the problem for us. Anyways, fixed now and merging into develop in a second.

[2018-03-30 15:06] #152 closed

[2018-03-30 15:08] thomashopf commented on #151
Should be working now on any pandas version (I haven't updated the evcouplings_develop environment yet). Closing for now, please reopen if this resurfaces ever again.

[2018-03-30 15:08] #151 closed

[2018-03-30 15:14] thomashopf commented on #152
Thanks Anna for updating.

The initial issue should also be gone now since the config runner and the summarizer are now being called by their applications `evcouplings_runcfg` and `evcouplings_summarize`, so what ever these link to in the environment where the job is executed will be used.

That being said, I would strongly encourage anyone to always submit from the same environment that is being

[2018-03-30 15:29] aggreen commented on #151
Thanks a lot Thomas. I will keep an eye out, hopefully it will not
resurface in the future.

On Fri, Mar 30, 2018, 11:08 AM thomashopf <notifications@github.com> wrote:

[2018-03-31 09:24] sacdallago commented on #152
Thanks both.

I think
[this one](https://github.com/debbiemarkslab/EVcouplings/issues/152#issuecomment-377356790) can be easily fixed with puppet from RC's side (have sessions include anaconda in their `$PATH`). I'll put it on my todo, but let's first solve more urgent matters with them...

I'll update `evcouplings_develop` on o2 on Monday after making sure with Anna I'm up to speed with all curre

[2018-04-04 18:48] sacdallago opened #157 "Update configs for v0.0.3"
Last outstanding items before release v0.0.3

1. Remove old orchestra configs
2. Update o2 configs to **current** working version, which means:
  - remove `source activates`
  - append `o2` at the end of databases (once @b-schubert will update the CRON jobs to run on o2 we can revert this, but for now, we should put it this way, otherwise we get emails from collaborators saying "it failed when loo

[2018-04-05 15:32] #157 closed

[2018-04-05 19:13] sacdallago opened #163 "Deploy to pip rising errors"
@b-schubert @thomashopf the autodeploy to pip is still not working correctly, **but the package seems to be deployed anyway**.

Now pip authenticates correctly thanks to @b-schubert fixes ( see: https://travis-ci.org/debbiemarkslab/EVcouplings/jobs/362726271#L1224 ) but it apparently **fails** to deploy the new release (see: https://travis-ci.org/debbiemarkslab/EVcouplings/jobs/362726271#L1344 ).

[2018-04-06 12:53] thomashopf commented on #163
That's because the Python 3.5 target was quicker and succesfully uploaded first, causing 3.6 to fail.

Solution: https://stackoverflow.com/questions/32892122/prevent-travis-deploying-multiple-times-when-im-running-my-tests-on-multiple-no

[2018-04-06 14:52] sacdallago commented on #141
Should we aim at having this in the next release or can it wait until the one after that, or even future?

[2018-04-06 14:53] sacdallago commented on #99
Who can we assign this to?

[2018-04-06 14:57] sacdallago commented on #116
@sophiamersmann would it be too much asking to integrate the tests in the pipeline? That would really be the cherry on top 🌈 😃

[2018-04-06 15:00] sacdallago commented on #83
Update: this discussion is only relevant if the dependencies are shipped with the package itself, so for now we won't do that. In terms of docker container, we can make a container which expects the dependencies on a certain volume (e.g. a path on the local computer, or container-to-container volumes sharing, but the container with the dependencies will be maintained by whoever needs it, whereas t

[2018-04-06 15:01] #83 closed

[2018-04-06 15:01] sacdallago commented on #72
This seems pretty straightforward? Can we have this for v0.0.4?

[2018-04-08 12:26] #163 closed

[2018-04-10 09:17] sophiamersmann commented on #116
Sure! Do you want me to use any specific dataset?

[2018-04-26 15:10] b-schubert commented on #116
@sophiamersmann you can use our test data:

http://marks.hms.harvard.edu/evcouplings_test_cases.tar.gz

This contains alignments and runs for a monomer and complex. let me know if you need to add some additional files and I will add them to the archive.

[2018-04-26 17:14] sacdallago commented on #116
sorry for not getting back here 😮 I read it and then things piled up

[2018-04-26 19:40] #155 closed

[2018-04-26 19:40] #84 closed

[2018-05-11 15:17] sacdallago opened #167 "Auto range not working when skipping align?"
Frank (in Chris' group) reports the following error:

- Conf: [PROT.txt](https://github.com/debbiemarkslab/EVcouplings/files/1995840/PROT.txt)
- stderr: [PROT_stderr.log](https://github.com/debbiemarkslab/EVcouplings/files/1995839/PROT_stderr.log)
- .failed: [PROT.failed.txt](https://github.com/debbiemarkslab/EVcouplings/files/1995846/PROT.failed.txt)

Notice that in the config I've changed all se

[2018-05-11 15:47] thomashopf commented on #167
The reason causing the crash is that the input alignment fed into the mean-field inference apparently doesn't contain a header of the form SEQID/start-end. We might want to raise an explicit exception when is the extraction of the header isn't successful.

But the reason the header isn't there is because an input user alignment should always be fed through the protocol "existing" in the align stag

[2018-05-11 15:47] #167 closed

[2018-05-11 15:51] sacdallago commented on #167
Thanks @thomashopf , sorry for the confusion :) To my understanding, omitting the stage would use the "existing" protocol, but I was obviously wrong there 🙈 apologies!

[2018-05-11 15:55] thomashopf commented on #167
No problem. Skipping really means skipping, and you can only skip in two ways:
* stages at the end can be left out (so e.g. you terminate at compare and don't go into fold)
* you can skip running a stage that has been run before (e.g. skip align and rerun couplings), and reuse its results

There is another mode of "semi-skipping" in the align and coupling stages where the computationally intensive

[2018-05-17 15:51] kpgbrock opened #168 "Add documentation for distance map objects"
Realized the .npy and .csv distance map files could be confusing to new users - they're explained in the distance tutorial but not in the output files tutorial. Note for me to add them in :)

[2018-05-18 14:04] aggreen opened #169 "Improve error checking in describe_concatenation"
If the genome location file is empty, the code throws an error. This should be modified to just return None.

[2018-05-24 09:34] omranian opened #170 "protein ids as input"
Hi,

I would like to use your package for a list of protein pairs and calculate the EVComplex scores. Something similar to this:
https://evcomplex.hms.harvard.edu/results/test_2018-05-17_130958_3381
but automatically, since my list is big and I don't want to do it online.

Is it possible that I give protein names instead of multiple alignment results and I get the complex scores for each pair of p

[2018-05-25 12:02] omranian commented on #170
Hi Anna,

Thanks a lot for your response. It was really helpful.

I cannot run evcouplings_dbupdate  to get the required databases due to our machine which does not support any graphics.

how can I have the databases with the SIFTS-based structure mapping tables?

Thanks and best,
Nooshin

[2018-05-25 12:07] omranian commented on #170
I could also not find the notebook step 2 which helps to programmatically edit a configuration file using Python.

[2018-05-26 12:56] aggreen commented on #170
Hi Nooshin,

No problem, we're happy to help.

Can you please elaborate on what you mean by "cannot run
evcouplings_dbupdate to get the required databases due to our machine which
does not support any graphics"? evcouplings_dbupdate is a command-line
executable which generates text files, so there should be no graphics
required. If you tried to execute the command, can you share the error
message?

[2018-05-28 08:51] omranian commented on #170
Hi Anna,

Thanks a lot for your response.

I could finally get it run by your help.
I downloaded the uniref100, and I think this should be fine for now.

I'm testing the program for a single pair and indeed, it is very slow (I'm still waiting for my test run). I need the EV complex score for about 2000000 pairs (I'm doing whole genome analysis including more than 20000 genes and taking only top 10

[2018-05-28 12:36] omranian commented on #170
There is another issue yet. As I said, the test was running and I just got the following error:

evcouplings.utils.config.MissingParameterError: Missing required parameters: hhfilter

but I don't want any filtering and I followed the comments in config file as follow:

    # Filter sequence alignment at this % sequence identity cutoff. Can be used to cut computation time in
    # the couplings sta

[2018-05-28 13:04] aggreen commented on #170
Hi Nooshin,

Regarding the missing parameter error, I think the error is because you
need to provide the *parameter* hhfilter but can leave the value of the
parameter blank - I know it can be confusing, but we require the user to
explicitly define (or leave blank) all parameters so that there's no hidden
defaults. I've put a text snippet below with the example.

Regarding speeding up your analysis

[2018-05-28 13:13] omranian commented on #170
Hi Anna,
 Thank you very much for your prompt response.

Th first point is what I'm doing, I do alignment first for every single gene and then use the alignment for the EV scores.
I thought the alignment can go a bit faster, since I have more than 20000 genes.
regarding the pairs, I already included the top 100 pairs for every gene and I cannot go below. But you are totally right, these tasks are

[2018-05-31 07:43] omranian commented on #170
Hi Anna,

Would you mind please help me with this error?

AttributeError: 'DataFrame' object has no attribute 'uniprot_ac'

Thank you very much
All the best,
Nooshin

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/apps/devel/python/3.5.1/lib/python3.5/site-packages/evcouplings/utils/pipeline.py", line 174, in execute
    outcfg = runner(**incfg)
  File "/apps/dev

[2018-06-01 14:07] aggreen commented on #170
Hi Nooshin,

Unfortunately this is a known bug that I'm working on fixing. Hopefully I
will push a fix by the end of the day (EST) at which point you will have to
update your installation. Thanks for you patience.

Anna

On Thu, May 31, 2018 at 3:43 AM, Nooshin Omranian <notifications@github.com>
wrote:

[2018-06-03 21:26] #169 closed

[2018-06-03 21:27] #144 closed

[2018-06-03 21:28] aggreen commented on #170
Hi Nooshin,

The fix for this has been tested and merged. If you want to update your current installation from the evcouplings development branch the issue should be fixed. The development branch will be released as the new master branch soon.

Anna

[2018-06-04 11:32] omranian commented on #170
Hi Anna,

Many thanks for your consideration.

What is the easiest way to update my current installation? I probably need to ask our IT team to do it, but they always ask for the exact command to run :)

sorry for this and looking forward.
All the best,
Nooshin

[2018-06-05 15:25] aggreen opened #172 "Fold stage: contact maps with ECs used for folding"
When we generate a model with 100 ECs, we may have actually input 120 ECs and then filtered some out due to SS clashes. So, we need to generate new contact maps that display all 120 but with the 20 filtered ECs as x's.

[2018-06-14 14:58] sacdallago opened #175 ""Not a valid index for sequence alignment""
Seems related to #151 (
@aggreen ?) somehow, getting it from a run via the web interface.

[code]

check `/n/scratch2/105280abb7b4c88bbc1e7db8761d45e8`. I am 80% sure that the version running on o2 for the web server is the latest code on develop merged with my web branch. I'm keeping this here as question to see if this was a known, resolved issue. If not, might be worth checking out.

[2018-06-17 14:40] thomashopf commented on #175
No, this is a different issue.

The problem is that the query sequence identifier used for the run is a "full" Uniprot identifier: `sp|P01112|RASH_HUMAN`. Once jackhmmer finds a sequence with the same name in the database (sp|P01112|RASH_HUMAN) it starts making unique sequence identifiers in the .sto alignment by prefixing with numbers, but annoyingly enough it doesn't do that in the domtblout. On

[2018-06-17 14:53] thomashopf opened #176 "Application termination not detected on O2"
See b0.2 and b0.3 runs for `/n/scratch2/105280abb7b4c88bbc1e7db8761d45e8`, both terminated by slurm because of excess memory usage, but there is no .terminated file.

Two possible reasons:
1) The current configuration terminates jobs right away with SIGKILL or the time window before SIGKILL following some other signal is too short to wind things down - in this case cannot do anything but ask RC to

[2018-06-18 14:16] sacdallago commented on #176
I guess this would be a good addition to #166 , whenever I get around working on that..

[2018-06-18 14:17] sacdallago commented on #176
And I'm happy that someone is using the web interface :)

[2018-06-18 14:21] sacdallago commented on #175
I see. So the short-term solution is a hacky change in the pipeline (rather than the submission process) and the long-term solution is a less hacky change in the pipeline or external software?

I'm just trying to understand if this is something that generates at all from _how_ I submit the job (which as I understand it, it isn't). If it is so, this def. has much less priority for me than a couple

[2018-06-18 16:52] thomashopf commented on #175
No the short-term solution is in fact w.r.t. *how* one submits, to avoid jackhmmer running into the problematic behaviour in the first place: If one doesn't use the full header from the Uniprot sequence file (e.g. `sp|P01112|RASH_HUMAN` - this breaks) , the identifier clash problem doesn't occur. Because the pipeline itself replaces the header line with the user-defined sequence identifier (e.g. j

[2018-06-18 17:13] sacdallago commented on #175
Hmm. Okay. There are a few things which are confusing, still. This is a run that you submitted? If so, what was your input in the web interface like? This is important, here's why:

1. If you input `RASH_HUMAN` or `P01112`, what will be submitted to the backend is always and only `P01112`
2. If you input a FASTA-like sequence BUT you specify a correct uniprot header with a correct uniprot referenc

[2018-06-18 18:06] thomashopf commented on #175
Don't know if this was one of my runs or not... could be. When I played around with the server, I think I only input "P01112", not a sequence + header.

Anyways, what fundamentally causes the problem is `sequence_id: sp|P01112|RASH_HUMAN` in the global section of the config file, which must have been put in there by the backend in some way or the other. If this was `sequence_id: RASH_HUMAN`or `seq

[2018-06-18 21:07] sacdallago commented on #175
absolutely not terrible. 😄  I wonder at all **how** this may have happened. As I explained earlier, the web passes either `P01112` or just the sequence, like 'ABC...' and no header (it should apply a default header, something like `>sequence`.

I'll double check on my side then.

For the fix: would you mind opening an issue here about it and describing exactly what you would want to see? Or even i

[2018-06-19 17:53] aggreen opened #177 "MultiSegmentCouplingsModel needs type checking of input segments"
If the user inputs a segment in list format instead of an EVcouplings.mapping.Segment object, the code throws the following unhelpful error:

[code]
This should be type checked and fixed to be something more readable

In addition, if the users calls MultiSegmentCouplingsModel with no segments provided, instead of raising a valueError, we get an exception during raising of the exception because the

[2018-06-19 17:55] sacdallago commented on #75
I think we are good on this one. We should just always make sure that major PRs come with tests from now on

[2018-06-19 17:55] #75 closed

[2018-06-19 17:59] sacdallago opened #178 "Expand evcouplings_dbupdate to download complex databases"
From #96 .

Re-assigning @b-schubert and @aggreen , and putting up for the next release. If this doesn't seem like a prio, then put it up for 0.0.6

[2018-06-19 17:59] #96 closed

[2018-06-19 18:18] thomashopf commented on #175
I've decided to make the pipeline robust w.r.t to that case when I get round to it.. the changes are minimal. At that point it won't matter what the webserver puts in.

[2018-06-19 18:29] thomashopf commented on #177
I think the exception problem is due to the wrong call to raise, this should be:
[code]

[2018-06-19 18:41] aggreen commented on #177
So there are really two different parts to this issue. I think your
comments address the second one - thanks for that, figured it was something
dumb.

The first part happens when the user does input a list of things called
"segments" but the list isn't a list of Segment objects. That's when the
error I detailed in the issue occurs. So I'll add that type checking to
make sure that the list of objec

[2018-06-19 18:52] thomashopf commented on #177
My first comment did actually refer to the AttributeError (I've edited above to make more clear), if someone inputs a list of things that are not Segments.

One way of handling this is using (hierarchical) type checking with instanceof, which is the more classical style of object-oriented programming. My comment referred to handling this in the "duck typing" style common for Python - as long as th

[2018-06-19 18:55] aggreen commented on #177
Ahhh ok I see what you mean now. I think I will add a line to catch the
AttributeError and raise a cleaner message when I go in to fix the other
problem at some point.

On Tue, Jun 19, 2018 at 2:52 PM, thomashopf <notifications@github.com>
wrote:

[2018-06-19 19:04] sacdallago commented on #175
Thanks @thomashopf :) makes my life a lot easier ❤️ I'll close my issue then

[2018-06-21 15:15] aggreen commented on #178
I've written most of this and just not gotten around to testing it unfortunately, will do for the next release

[2018-06-21 17:04] sacdallago opened #179 "o2 cron-job for dbupdate"
Just putting this as an issue, so we can follow up on it.

@b-schubert have you had time to look into this?

[2018-06-23 14:12] thomashopf commented on #175
This is fixed now for the compare stage (unless someone willfully chooses an identifier to break it) as soon as you regenerate the SIFTS sequence database file with the updated code.

There is a possibility of creating identifier clashes in the align stage too if you put in the wrong identifiers (much less likely though, since the input region will most often differ from the aligned region in the

[2018-06-29 15:45] thomashopf commented on #178
In the process, I suppose it would also be a good idea to fetch the SIFTS mapping files from Marks lab servers... this circumvents problems with the Uniprot sequence fetching, which takes long and breaks down too often.

[2018-06-29 16:18] thomashopf commented on #179
SIFTS tables should ideally be on a weekly schedule (as opposed to monthly updates for sequence databases)

[2018-07-01 14:58] #64 closed

[2018-07-03 14:13] sacdallago commented on #178
I wonder if we can use symlinks in quota-like file shares 🤔 Currently the `/data` of the various markslab servers is at capacity, so if there's anything that needs to be made publicly available, it should be put on the `www` part of the webservers, which is an anti-pattern (plus, it's not like we have a huge quota there either). I was discussing this with RC people. If we can use symlinks on these

[2018-07-03 14:22] b-schubert commented on #178
Dont think that works.... that would be a huge security breach!

On Tue, Jul 3, 2018 at 4:13 PM Christian Dallago <notifications@github.com>
wrote:

[2018-07-03 17:21] thomashopf commented on #178
It does work, was a bit surprised too they allow that ... look at the supplementary data for evmutation.org, it links into /groups/marks_www

The quota on that directory, which was created exactly for these purposes, was initially set to 100GB but can be requested to be extended.

[2018-07-05 18:36] kpgbrock opened #182 "Add MI as option for couplings stage"
Would be useful to have, in addition to mean field/plm

[2018-07-07 15:59] thomashopf commented on #182
Yep would be a nice addition! 👍

Some first thoughts regarding an implementation:
1) The CouplingsModel class already has functionality to compute raw and APC-corrected MI scores which might or might not worth be reusing (related to whatever we decide for point 3)
2) In many aspects, this would be exactly the same as the mean-field protocol, and the first part of the fit() method of the MeanFieldD

[2018-08-16 16:06] aggreen opened #185 "EVcomplex auxiliary outputs"
EVcomplex frequencies and EC enrichment files both need to be created with the correct numbering.

1. During the concatenate stage, a frequencies file is output but it does not have segment numbering, just column frequency numbering, and thus isn't really useful out of the box

2. Calculate EC enrichment for each monomer independently from the concatenated ECs, output to a big file with correct se

[2018-08-20 14:45] aggreen commented on #185
ALSO: Change the complex configuration file to have uniprot, not uniref database as the default

[2018-10-06 20:39] sacdallago opened #189 "ValueError: HMMER added identifier prefixes to alignment because of non-unique sequence identifiers"
Ref: #175 #151

A job for [alpha-synuclein](https://www.uniprot.org/uniprot/P37840) failed on compare with the following log:

[code]

This is different from the issues reported above, but seems related.

It is worth mentioning that this is running from the branch of #166 , which if I'm not mistaken doesn't include the changes of #180

I'll try to merge the latest develop into Management and run t

[2018-10-08 16:52] thomashopf commented on #189
This is the more informative error message I added as part of the solution to #175 so this appears to be in your code already.

My guess is that you are still using outdated SIFTS database files that were made with a version that doesn't have the fix (in the fixed version, the sequences in the FASTA file are prefixed with >evsp and >evtr instead of >sp and >tr to avoid the identifier clashes).

if

[2018-10-22 14:36] sacdallago commented on #189
That's fair. Problem: currently the `.current` version of the databases on o2 points to the 06/2018 release, which is indexed `>sp` as you correctly noted:

[code]

there are later versions on o2, but they are broken:

[code]

I supposed the `db_update` script needs to be re-written. Apart from being moved to o2's CRON vs. orchestra. This ties in with https://github.com/debbiemarkslab/EVcouplings/

[2018-10-22 19:04] sacdallago commented on #189
Plan:

### High prio
- [ ] Update stable&unstable conda envs on o2
- [ ] Manually update dbs on o2 and create new symlinks for `.currents`
### medium prio
- [ ] Figure out which env is used for the monthly update and where it is being made
- [ ] Move the monthly update to o2 (vs. orchestra)

[2018-10-22 20:40] sacdallago commented on #189
Update : I've mistakenly committed directly to develop, but it's a super small update, see https://github.com/debbiemarkslab/EVcouplings/commit/1f9f35d14570b2d19812f2f8439ac8461f9ec11d

[2018-10-22 20:56] sacdallago commented on #179
REF https://github.com/debbiemarkslab/EVcouplings/issues/189#issuecomment-431940186

[2018-10-22 20:56] sacdallago commented on #189
This is now done. If this problem persist, I'll re-open.

[2018-10-22 21:03] sacdallago opened #190 "Missing required param `pseudo_count`"
(Note to self)

in `/n/groups/marks/web/backend/runs` check:
- `5f61e22c929cd14d1383f3e42fc2fac7/5f61e22c929cd14d1383f3e42fc2fac7_b0.2.failed`
- `21c3094ae7c1995a67029ef52e794f41/21c3094ae7c1995a67029ef52e794f41_e10.failed`

There seems to be a missing param as a dependency of another setting in the options of the job sumission: figure out what and amend in the backend.

[2018-10-23 17:59] sacdallago commented on #190
While trying to solve this, I realized that there is **no documentation** about using `mean_field` as a protocol in the couplings stage at the level of the example config: https://github.com/debbiemarkslab/EVcouplings/blob/develop/config/sample_config_monomer.txt#L143

So, things to do:
- [ ] Add documentation about using `mean_field` in the couplings stage. Especially required parameters that wou

[2018-10-23 18:07] aggreen commented on #190
The person who implemented it is Sophia Mersmann but I can update the
config file, no problem. Since it's only adding two lines of documentation
and not changing any code, I'm going to be naughty and do it directly on
develop.

On Tue, Oct 23, 2018 at 2:01 PM Christian Dallago <notifications@github.com>
wrote:

[2018-10-23 18:19] sacdallago commented on #190
Thanks Anna!

[2018-10-23 21:04] aggreen commented on #190
Fixed by most recent commit

[2018-10-23 21:04] #190 closed

[2018-10-23 21:07] sacdallago commented on #190
Ok, adding this param fixed the missing param error, but now it seems like the pipeline itself is broken-ish? Opening a new issue

[2018-10-23 21:12] sacdallago opened #191 "Name 'probability' is not defined in couplings"
Running a job using the couplings `mean_field` protocol will result in an error (previously #190, now that is amended). Here's the [config.txt](https://github.com/debbiemarkslab/EVcouplings/files/2508023/config.txt).

The output of the `.failed` file:
[code]

I assume that a later computational step assumes the `probability` column be present in a generated file/pandas, but `mean_field` won't prod

[2018-10-23 21:16] sacdallago commented on #191
Upon inspection, [this seems to be the faulty line](https://github.com/debbiemarkslab/EVcouplings/blob/develop/evcouplings/compare/protocol.py#L208) and that code, according to the header, was produced by @aggreen , so maybe let's talk about it tomorrow? :) But good to know...

[2018-10-23 21:36] sacdallago commented on #191
Personally, my experience with "overflowing" parameters is that the pipeline is going to ignore them. For example, if you were to define the `pseudo_count` but using the `standard` protocol, that parameter would just be ignored.

My guess would be that, at the same `if` statement where the presence of `plot_probability_cutoffs` gets checked, you also check what protocol you are running, and if the

[2018-10-24 08:20] thomashopf commented on #191
Bug... the fix is to add the following in https://github.com/debbiemarkslab/EVcouplings/blob/develop/evcouplings/couplings/protocol.py#L627:

[code]

As Anna noted, we can't score the DI scores of mean-field with any of our mixture models since the score distributions look very different. But the probability column is a required default in the coupling scores table, so in this case we go for missi

[2018-10-24 13:56] aggreen commented on #191
I have implemented the change suggested by Thomas and am running a test all the way through the pipeline to make sure we have no other errors in the fold or mutate stage, pull request coming soon

[2018-10-25 14:59] #191 closed

[2018-10-29 14:27] sacdallago opened #193 "mutation_matrix_plot_files rename"
In essence:
[code]

I would like to propose a rename of the `mutation_matrix_plot_files` to single file names in the outconfig. I've already implemented this change on the `management` PR, see https://github.com/debbiemarkslab/EVcouplings/pull/166/commits/b0760231b7aaffdb741284e9421bc92873e27253

Why?

Using an array to store the plots makes it a bit tedious to parse the relevant files for the web

[2018-10-29 14:28] sacdallago commented on #193
also pinging @aggreen @b-schubert

[2018-10-29 14:31] sacdallago commented on #193
Another alternative that solves my current issue would be still saving the plots in arrays but differentiating by type, so:

[code]

This has the advantage of not needing to know the type (`epistatic` vs. `independent` vs. ...). Let me know.

[2018-10-29 21:08] sacdallago commented on #193
Never mind. Since Kelly's runs have the plots as that key I'll have to live with the frontend being slightly slower.

[2018-10-29 21:08] #193 closed

[2018-11-05 21:06] sacdallago commented on #85
I feel like this is very, very much done, except that it's in #166

[2018-11-05 21:06] #85 closed

[2018-11-21 17:52] sacdallago opened #194 "Trying to compile an impossible URL"
When submitting a complex job via evcouplings.org, I run into the following `.failed`:

[code]

The config (-management) is attached here:
[conf.txt](https://github.com/debbiemarkslab/EVcouplings/files/2605269/conf.txt)

This is odd, because if I pass such an identifier in the `monomer` pipeline, it runs though just okay (e.g.: another job [conf2.txt](https://github.com/debbiemarkslab/EVcouplings/

[2018-11-21 17:54] sacdallago commented on #194
Note: the interesting part in the config is `sequence_id `. Never mind that I'm running a complex job using the same protein but different regions, just testing.

[2018-11-21 18:58] thomashopf commented on #194
Well quite simply because `sp|P12345|AATM_RABIT` is not a valid sequence identifier. P12345 or AATM_RABIT are.

In conf2.txt, the `sequence_file` is passed into the compare stage via global (plus it feeds out of the align stage as an output), so the pipeline doesn't go out and fetch from Uniprot in compare and therefore your problem doesn't surface.

@aggreen: Can you please check why the sequence

[2018-11-21 21:51] aggreen commented on #194
Hey all -

@thomashopf I have verified by looking at my test cases and the code traceback that the sequence_file kwarg from both monomer alignment stages are passed through to compare correctly as first_sequence_file and second_sequence_file, respectively

@sacdallago you are correct that this line is causing the problem, but I'm worried about your input configuration. The kwarg sequence_file is n

[2018-11-22 07:13] thomashopf commented on #194
Okay, so it looks like the root cause is https://github.com/debbiemarkslab/EVcouplings/blob/master/config/sample_config_complex.txt#L372 which clearly should be `first_sequence_file`, not `sequence_file`.

This null value from the inconfig then presumably overwrites the prefix-reduced `first_sequence_file` in the dictionary comprehension in https://github.com/debbiemarkslab/EVcouplings/blob/develo

[2018-11-30 18:19] sacdallago opened #195 "Consistency with _files keys?"
This is an annoying issue (I'm sorry), and it has to do mainly with consistency.

Usually, when `*_files` keys are encountered in the out config, they are lists of files. That is not the case with `remapped_pdb_files`, where the `*_files` key points to a dictionary where the keys of the dictionary are the filenames and the value of the dictionary entry is an int cross-referencing the structure hit

[2018-12-11 19:48] nselem commented on #74
I am creating a [docker container](https://github.com/nselem/evcouplings)
It works now trough align, compare, couplings, and mutate. I'm still having troubles with fold because of cns installation.

For now I solved the cns license problem with an ADD, everybody must have its own copy of cns_solve:
`ADD cns_solve_1.21_all-mp.tar.gz /opt`
And first time databases command must be called `evcouplings

[2018-12-12 17:35] nselem commented on #74
Hello @sacdallago

Thank you for your answer, well if you help me I can develop these ideas, because the installation is really complex by now. Sounds great to me to split the job three containers. In my case the database command were run only once inside my big docker container, so I didn't actually had python or EVcouplings installed outside the container, but anyway I think you are right and it

[2018-12-12 18:16] nselem commented on #74
ADD command from docker decompress automatically tar.gz files in the selected directory (/opt in this case)

[2018-12-12 23:37] nselem commented on #74
@sacdallago
Seems like I got [EVcouplings in three docker containers](https://github.com/nselem/evcouplings)  exposing the volumes. It worked once.  I will try again to cleanly follow the tutorial from the beginning and I let you know.  I just changed the cns version to cns_solve_1.21_all_intel-mac-mp.tar.gz.
Thank you.

[2018-12-14 22:07] aggreen opened #196 "standard couplings protocol fails for RNA"
Exctingly, Jonny and Mafalada are doing the first RNA runs for the EVcouplings pipeline. We've run into what might be the first of many small issues in adapting:

[code]

What's happening is that the default value for reorder in the evzoom_json function is a 20-letter protein alphabet, and this fails when called for RNA.

Proposed solution:
Because this is the final step of the postprocess inferen

[2018-12-14 22:08] aggreen commented on #196
@jonnyfrazer

[2018-12-16 09:31] thomashopf commented on #196
Yep completely agree this should be handled by the standard protocol, especially given that it tries to be alphabet-agnostic in all other places.

I would check agreement of the actual alphabet like this (if people choose to reorder their protein alphabet from the default, it would then use the same ordering in EVzoom). The ALPHABET_PROTEIN_NOGAP import comes from like evcouplings.align.alignment

[2018-12-16 10:13] thomashopf commented on #196
And more generally: hurray for RNA :)

When it comes to the other protocols/stages we have:
* align: existing protocol should work out of the box, with the minor caveat that the default segment is initalized to alphabet "aa". The standard protocol is probably not going to work since jackhmmer is protein-only as far as I know (that would need nhmmer or nhmmscan).

* compare: The protocols are total

[2018-12-16 10:54] thomashopf commented on #74
@nselem: Welcome and thanks a lot for contributing!

Re your CNS problems, the pipeline expects the path to the actual executable (e.g. cns_solve_1.21/intel-x86_64bit-linux/bin/cns) for the target platform. Can't remember the details but I seem to recall that was the only way to get CNS to work reliably without the configuration shell scripts.

#### Design goals:

* Ideally, for users this should

[2018-12-16 23:45] sacdallago commented on #74
Hi @nselem , thanks for the work and update. I'll have a look at the dockerfiles in the next couple days, most likely during Christmas. Will try to leave comments on your repo. Also: thanks for shining light on the `ADD` instruction, pretty cool stuff with the auto unzip :) As @thomashopf identified, it seems that your problem is the absolute path to the binary in the config file. But, from your `

[2018-12-16 23:54] sacdallago commented on #194
Just FYI I've implemented the quick fix in the default complex config. @aggreen will you look into the refactoring of that one line into a function?

[2018-12-18 17:20] kpgbrock opened #197 "Adding checks to see if alignment wandered off"
Would like to make a function to:
1) Check if query sequence was hit in the alignment
2) If 1) is true, how well does the self hit in the alignment match to the query
3) Compare the final HMM to the query

This can help us decide if our alignment has 'wandered off' in sequence space, and therefore less useful.

[2019-01-06 22:41] thomashopf opened #198 "Associate available chains with PDB object"
evcouplings.compare.pdb.PDB should have an attribute that lists all available chains in a model (i.e. anything that is a valid argument to PDB.get_chain())

[2019-01-07 21:47] thomashopf commented on #179
Updated.

[2019-01-07 21:47] #179 closed

[2019-01-11 16:25] thomashopf opened #199 "Wrong exception raise"
https://github.com/debbiemarkslab/EVcouplings/blob/0b563c89394ab1a945e5f4ce9af36a5c53c44c60/evcouplings/couplings/mapping.py#L377

should be raise ValueError("...")

[2019-01-11 23:10] #176 closed

[2019-01-25 10:46] thomashopf opened #200 "plmc runtime issues single vs. double precision"
According to Frank, the single-precision binary (meant to be faster) we use for the pipeline on O2 takes longer than the double-precision version. I think this is particularly interesting for you @aggreen and @kpgbrock.

Needs to be evaluated if this speed regression is generally the case and if the issue persists after a single-precision recompile on O2 (could be some vector instruction set or li

[2019-01-25 10:54] thomashopf opened #201 "Folding protocol crashes due to cleanup of non-existing folder"
The following line can crash the pipeline if no folding was carried out before (e.g. because of empty EC sets), or maybe due to some race condition.

https://github.com/debbiemarkslab/EVcouplings/blob/ab44065d5052a34d878e7a4bb4d2afe7e7d105a0/evcouplings/fold/protocol.py#L524

Solution is to call create_prefix_folders outside the individual folding processes after the aux path is computed (https://

[2019-01-27 02:59] lixingguang opened #202 "is there any protocol that we can follow?"
why install the optional softwares is so complex?

[2019-01-27 10:44] sacdallago commented on #202
Hi @lixingguang ,

unfortunately we can't control how external resources distribute their software 😞and every now and then the software gets distributed slightly differently. @nselem recently put together a nice [docker file](https://github.com/nselem/evcouplings/blob/master/ev_dependencies/Dockerfile) collecting all the dependencies (except [CNS solve](http://cns-online.org/cns_request/), which y

[2019-01-27 10:44] #202 closed

[2019-01-27 10:50] sacdallago commented on #74
Thanks to @nselem for his implementation, I think we have a working solution for this [here](https://github.com/nselem/evcouplings)

[2019-01-27 10:50] #74 closed

[2019-01-28 15:33] sacdallago opened #204 "Log execution time for stages"
From a management perspective, being able to log how long a stage executes is useful information (undoubtably for the web, but even for fair share on o2 etc.).

This would translate in a function in utils/pipeline.py that get's called at the beginning **and end** (suppose you only run one stage and want logging on how long that took) of this for loop https://github.com/debbiemarkslab/EVcouplings/b

[2019-01-28 20:20] jingraham commented on #200
I just did a quick test to try and reproduce the performance differences. tl;dr The results are at least in a sensible order:

| make target  | precision | time 1 (s) | time 2 (s)|
| --- | --- |--- |--- |
| all-openmp  | double | 128.0 | 131.2
| all-openmp32  | single | 95.8 | 93.2|

To produce these, I ran an interactive session with
`srun --pty -p interactive --mem 4GB -c 4 -t 0-06:00 /bin/bash`

[2019-01-29 17:55] nselem commented on #202
Hello,
I will be more than pleased to help you if you try my docker my file.

[2019-01-31 19:40] poelwijk commented on #200
So for me I found that the 32-bit compiled one runs quite a bit slower. The ones I used are:
32-bit: plmc: bin/plmc (standard)
64-bit: plmc: <Benni's home>/plmc/bin/plmc (compiled by Benni).
For me the 64-bit version ran in 42 hrs, while the 32-bit version took 67 hrs. Everything else, apart from the pointers to the plmc, is the same. Both runs are copied to my directory <myhome>/Precision Issue/

[2019-01-31 20:49] jingraham commented on #200
Thanks @poelwijk. Indeed it seems like the pipeline plmc binary is slow!
I repeated the DHFR test from above with the binaries you mentioned:

| binary | precision | time (s) |
| --- | --- |--- |
| benni's | "double" | 128.0 |
| pipeline | "single" | 232.9 |

So the double precision binary behaves as expected but the pipeline binary is considerably slower. It looks like it was compiled in January

[2019-01-31 21:15] aggreen commented on #200
Thanks guys. Just went to
/groups/marks/pipelines/evcouplings/software/plmc, fetch the updates from
origin, then ran make all-openmp32

Looks like this created a new executable so we should be all set. Thanks
@poelwijk <https://github.com/poelwijk> for finding this, it will speed
things up a lot for me as well.

On Thu, Jan 31, 2019 at 3:49 PM John Ingraham <notifications@github.com>
wrote:

[2019-02-02 09:43] thomashopf commented on #200
Wow. Thanks a lot for looking into this @jingraham and for updating @aggreen.

I have two more questions::

Were there any changes to the output format as compared to the one output by the pipeline?

And is there any non-deterministic part in the optimization? Even running with the same double-precision binary (Benni's), two runs may give sets of ECs with different precision. I had a quick look at

[2019-02-02 18:35] poelwijk opened #205 "Variable names start with number"
Some of the variable names start with a number, such as 1st_uc in _alignment_statistics.csv, which will make them invalid variable names when the files are imported in some programming languages, like Matlab. Would suggest avoiding this (e.g. change to "first_uc" in the case above).

[2019-02-02 18:49] poelwijk commented on #200
A little elaboration regarding the latter question by @thomashopf: I sometimes see differences as large as 5% in true positive ECs just by running evcouplings with the exact same input.

[2019-02-03 02:01] jingraham commented on #200
@thomashopf, I was mistaken on reading some commits and actually all should be fine regarding EVzoom output. It was only the bundled matlab script for json export that I had updated to match the evcouplings python function.

@thomashopf, @poelwijk, I ran some experiments to check determinism on the DHFR example run. It looks like it is specifically happening for multithreaded versions of the code:

[2019-02-03 04:33] jingraham commented on #200
Looking into this further, I am not sure if complete floating-point determinism will be feasible with the current multithreading.

This is because [floating point arithmetic is non-associative](https://stackoverflow.com/questions/48957828/floating-point-arithmetic-why-would-order-of-addition-matter) and the particular order in which OpenMP sums together sets of numbers may change every time a prog

[2019-02-03 13:45] thomashopf commented on #205
The column names in this file could generally be much improved to be more descriptive (1st_uc -> first_uppercase_index, asf.)... these are still the original column names from the old buildali pipeline (est. 2011). Unless this causes a major break in anyones workflow (@kpgbrock, @aggreen?), I am very much in favour of changing them.

@poelwijk to solve the problem at the root though, I would sugge

[2019-02-03 14:02] thomashopf commented on #200
This is really interesting... I had the non-associativity hypothesis at one point but could not imagine that it would result in such discernible effects on the EC level (the EC precision difference @poelwijk observed is using the double precision version).

I do wonder if it would be a safer bet to use the double precision version for the pipeline... we still almost get a 2x speed-up compared to t

[2019-02-03 14:18] aggreen commented on #205
No problems here

On Sun, Feb 3, 2019, 8:45 AM thomashopf <notifications@github.com wrote:

[2019-02-03 15:42] jingraham commented on #200
Yes, maybe double precision is the safer bet for now!

Regarding the 5% variation I would really like to understand it... @poelwijk, @thomashopf do you happen to have the raw CN scores or paramfiles handy? It would be helpful to figure out if these values are also exhibiting 5% variation or if it might be smaller parameter/CN variation that still has significant re-ordering affects on precision (e

[2019-02-05 19:11] thomashopf opened #206 "Update example notebooks and make sure they can be executed on the spot"
* make sure everything is up to date
* make sure no relative paths are used, or if files are needed, put comments that user action is required (e.g. in distance calculations notebook, refers to directory ../databases/sifts/... which blocks users from direct execution)
* asf

[2019-02-06 18:31] poelwijk commented on #205
Hah, @thomashopf, point well taken... :)
Now I am on it, there are maybe a couple of other points to improve in the output files:
- report the actual theta in the sequence statistics file
- report the actual sequence weights (as was done in the web version).

[2019-02-18 12:37] sacdallago commented on #189
Seems like this is still a problem?

[code]

just for one threshold (two other ones went through, so maybe it's just a problem in the SIFTs file?) in a web submitted job. See `/n/scratch2/d0aa2114a3501fe4cac5724db04eefed`, file: `d0aa2114a3501fe4cac5724db04eefed_b0.4.failed`.

Using all the `.current` databases and the latest version from this repo... So, I don't know :(

[2019-02-18 17:46] thomashopf commented on #189
Nope if you check the stack trace this happens in the align stage. Reason is that a full Uniprot identifier (like sp|P01112|RASH_HUMAN) is searched against Uniprot and the region of the hit is exactly that of the query which triggers the HMMER renumbering.

I mentioned this problem and the solution in the original issue https://github.com/debbiemarkslab/EVcouplings/issues/175#issuecomment-39968111

[2019-02-18 17:46] #189 closed

[2019-02-18 18:04] thomashopf commented on #205
Hmm a bit hesitant to duplicate input parameters again in the output... is there a situation where this would add a lot of convenience (than it might be worth adding)?

Yep good one - at least when ```compute_num_effective_seqs``` is switched on in the config, this is very easy to implement (at the cost that sequence weights will be computed in the align stage and again in couplings using plmc). I

[2019-02-19 08:29] sacdallago commented on #175
Whops sorry :D

[2019-02-19 08:29] #175 closed

[2019-02-25 08:59] aggreen opened #207 "Add a resolution filter to PDBs for comparison"
It would be a great feature to have a filter in the comparison stage that will allow users to only compare to structures with a certain resolution. This would require finding a table to download from PDB to extract this information. Extracting the information directly from PDB structures will be too expensive.

[2019-02-25 11:09] aggreen opened #208 "Finding best coverage when searching for structures"
In the compare stage, the pipeline takes the top N structural hits based on their similarity to the target. This can be problematic because sometimes the user wants to maximize for the amount of input sequence covered by a structure.
Create a flag called something like maximize_structural_coverage and write a greedy algorithm to take the longest hits.

[2019-02-25 15:51] thomashopf opened #209 "Inter distance calculations shouldn't use same region on same chain"

[2019-02-25 20:22] thomashopf opened #210 "Use dedicated alignment for hmmsearch-based structure search"
Right now, comparison using alignment from align stage may lead to different structure comparisons for different bitscore/e-value thresholds. Would be better to build a dedicated alignment in the compare stage (e.g. using 3 iterations against a redundancy-reduced database like uniref 50)

[2019-02-25 20:24] thomashopf opened #211 "Handle non-200 return codes when building SIFTS sequence file"
Right now only handles connection failures, but nowadays Uniprot ID mapping also throws 4xx return codes at us (which is caught in fetch_mapping and then reraised as a ResourceError). Retries should handle any type of failed download.

[2019-02-26 14:28] aggreen commented on #208
Code fragment for implementing this (needs generalization to monomer structures, test cases)
[code]

[2019-04-01 13:37] sacdallago opened #212 "Pipeline fails at producing visualizations"
From a web submitted run (see `/n/groups/marks/web/backend/runs/7cbb0143a58e83b4b1373af43408d85d`):

[code]

Also see: https://evcouplings.org/jobs/7cbb0143a58e83b4b1373af43408d85d (this link is only valid for 6d)

[2019-04-01 14:20] aggreen commented on #212
So, looks like the code is failing when it tries to draw a secondary structure that doesn't exist, because it can't find appropriate boundaries. I'm not sure why I haven't gotten this error before in my pipeline runs. I can look into why this is happening and adding better checking for empty sequences in a couple weeks.

The easy temporary fix for this is to just change the draw_secondary_structur

[2019-04-02 12:44] sacdallago commented on #212
Thanks @aggreen . This parameter has now been changed on the template for the web jobs.

[2019-04-02 12:52] aggreen commented on #212
Can we resubmit the offending run just to be sure the fix worked? We should
only need to rerun the compare stage

On Tue, Apr 2, 2019 at 8:44 AM Christian Dallago <notifications@github.com>
wrote:

[2019-04-02 13:03] sacdallago opened #213 "[COMPLEX] Mapping from target to model positions does not contain all positions of internal model numbering"
[code]

Runs with this error:
[code]

That's 7 out of 15 failed jobs.

[2019-04-02 13:05] sacdallago opened #214 "[COMPLEX] evcouplings.utils.config.InvalidParameterError: provided annotation file 7a74f5bd34b11f505e287d1fd767fbf9/align_1/7a74f5bd34b11f505e287d1fd767fbf9_annotation.csv has no annotation information"
[code]

One job failed with this error:
`/n/groups/marks/web/backend/runs/7a74f5bd34b11f505e287d1fd767fbf9 `

[2019-04-02 13:07] sacdallago opened #215 "Request Timeout"
This one just as an FYI. It seems to have occurred only with complex jobs, but I wouldn't exclude that it may happen with monomer jobs, too.

[code]

[2019-04-02 13:09] sacdallago commented on #212
@aggreen was also thinking about that. Will do later.

also: I've checked all failed jobs, and this issue affected 4 jobs

[2019-04-02 13:17] sacdallago commented on #212
Update: job is now running with the changed parameter. Check results at `/n/groups/marks/users/cd/evcouplings_webserver_manual_runs/7cbb0143a58e83b4b1373af43408d85d`

[2019-04-02 13:46] sacdallago opened #216 "Analysis of 10 days of submitted jobs"
Looking at the jobs that were submitted over the last 10 days via web:

1. 208 individual jobs were submitted
   1. 109 complex jobs, and 99 **individual** monomer jobs
   1. 179 jobs have summaries, thus finished somehow (I don't know if summaries get produced even if one of the batches fails, @thomashopf ?)
   1. 15 jobs have .failed files, thus failed. All failed jobsare complex jobs. There are

[2019-04-02 19:51] aggreen commented on #214
This is not a bug, it's an error message I put in deliberately to flag when the user's annotation file doesn't have any annotation information. I'm guessing either they aligned against a weird database, uploaded their own alignment and didn't provide any annotation information, or they aligned against uniref/uniprot and didn't find any hits. We may want to think of better ways to communicate this

[2019-04-02 20:20] #212 closed

[2019-04-03 11:29] sacdallago commented on #214
Ok.

Thy aligned against uniref100 using the pipeline (upload of alignments is not yet possible), so most likely the second case (didn't find any hits). I tried to blast one of the two sequences and indeed I got very ridiculous hits. So this is an accepted failure? Think it would qualify as something to add to the FAQ on the website...

[config.txt](https://github.com/debbiemarkslab/EVcouplings/fi

[2019-04-03 11:30] sacdallago commented on #214
P.S.: Yes, maybe a more explicative error message in the pipeline would be great?

[2019-05-06 10:14] sacdallago commented on #213
Another job has failed on this. Any update on reason / what should be told to the people that encounter this error?

[2019-05-24 09:26] thomashopf commented on #213
@aggreen any idea why this happens?

[2019-05-24 13:27] aggreen commented on #213
Thisbug on our end. When we define the  segments after monomer concatenation, we do so in the folllowing way (line 68 of complex/protocol.py):
[code]
The problem with this is that it assumes that the same positions that were lowercased in the monomer alignments are lowercased in the concatenated alignment. This is not a valid assumption, because after concatenation we repeat the row and column fil

[2019-05-24 13:35] thomashopf commented on #213
Okay so from that I take it makes most sense for now to disable mutate and dock on EVcomplex server runs at the moment, right? Because it kills the entire run if the problem occurs.

[2019-05-24 13:37] aggreen commented on #213
Yeah that seems like a good temporary solution.

On Fri, May 24, 2019 at 9:35 AM thomashopf <notifications@github.com> wrote:

[2019-05-27 09:50] sacdallago commented on #213
@thomashopf @aggreen has that been done, or should I do it? 🤔

[2019-05-27 14:01] aggreen commented on #213
I have not done it

On Mon, May 27, 2019 at 5:50 AM Christian Dallago <notifications@github.com>
wrote:

[2019-05-29 07:56] thomashopf commented on #213
Not done yet - please update if you can

[2019-06-18 14:09] #216 closed

[2019-06-18 14:09] #215 closed

[2019-06-18 14:14] sacdallago commented on #213
Sorry -- My bad, I got lost.

I've changed:

[code]

to
[code]

aka. Removed `mutate` and `fold`. I assumed docking is fold in @thomashopf 's comment https://github.com/debbiemarkslab/EVcouplings/issues/213#issuecomment-495631091 .

[2019-06-25 14:13] sacdallago opened #218 "Add MMseqs2 as align protocol"
@thomashopf don't know how you feel about this, but I think this could be an interesting development for the future in case EVcouplings can be run on a bigger machine

[2019-06-28 07:25] thomashopf commented on #213
Thanks!

[2019-06-28 07:26] thomashopf commented on #218
Yes would be great to bring the Söding lab tools back in with additional protocols

[2019-07-03 00:51] nrollins-Ag opened #219 "Add 'checkpoint_domtbl' option to alignment stage"
Currently there is no option to save the .domtbl files generated during alignment stage. Alongside the checkpoint_ali option, would be useful for checking the integrity of the alignment process

[2019-07-03 17:46] thomashopf commented on #219
Yes would be very useful but unfortunately I am not aware of a jackhmmer command line flag that would allow to do this (unlike --chkali for alignment and --chkhmm HMM).

The only way to get a domtbl after each iteration would be to manually create a jackhmmer-like protocol using phmmer + hmmsearch and saving the output after each stage, but that means creating a new protocol and quite a bit of wor

[2019-07-03 17:46] #219 closed

[2019-07-16 08:16] bariskalem opened #221 "Problems on reproducing paper results"
Hello,

We have downloaded the supplementary result file. (for the paper: [Sequence co-evolution gives 3D contacts and structures of protein complexes (2014](http://evfold.org/evfold-web/datasets.do)) )

And, we tried to reproduce the first result which is FRDA_ECOLI with FRDB_ECOLI using the default values on the webserver. However, we did not reproduce the results that are given in the supplemen

[2019-07-18 14:13] aggreen commented on #221
Hello,

There are multiple differences between the webserver default parameter
values and the values used in the 2014 paper. They are as follows:

1. The webserver defaults to using best hit based concatenation method,
whereas the 2014 paper used a genome distance-based concatenation. If you
change the "concatenate protocol" parameter to "Genome distance" and the
"database" parameter for both alig

[2019-07-18 14:13] #221 closed

[2019-07-18 14:46] aggreen opened #222 "Complex contact map visualization fails when no ECs or structure for monomers"
See /n/groups/marks/users/agreen/dev/debug_server/96f47a25085adc3af241b39f96af4b2e

It looks like what happens is that when trying to plot the contact map for probability cutoff 0.99, because there are no intra protein ECs and no monomer structure, visualize/pairs.py fails because it can't define the boundaries.

[2019-08-09 16:25] thomashopf opened #224 "More flexible sequence weight handling"
Right now, sequence weights are done in a very rigid way - computed inside plmc, no option to export etc.

Ideally, we would be able to:
* export sequence weights computed by plmc, or - even better - move the computation to a dedicated step
* allow user-defined sequence weights or reuse existing weights
* have more elaborate sequence weighting schemes
* have faster sequence weighting algorithms in

[2019-10-28 19:08] kpgbrock opened #226 "Output alignment file sorted by sequence identity"
Currently, a2m file sequences are not in order of sequence identity - would be nice to have a new function that can sort based on sequence identity in annotations file for example

[2020-01-12 19:02] ayshaw opened #227 "making frobenius norm/ APC score calculation part of mean field couplings scores calculations"

[2020-01-13 23:33] thomashopf commented on #227
Turns out I actually have a branch that has this feature, so no need to implement - will merge soon

[2020-03-04 17:04] cross12tamu opened #228 "Bypassing Align Stage in Complex Pipeline"
Howdy,

I am running EVcouplings locally, and am hitting a little snag.

I am wanting to bypass the align_1 / align_2 stages of the complex workflow, and feed the next stages a (non EVcouplings) generated _msa_.

__Is this possible? And if so, what are the necessary parameters to alter and change in the config file?__ Some of this issue could overlap in the #214 issue.

Thank you for the wonderful

[2020-03-06 12:10] sacdallago commented on #228
@jrr-cpt @cross12tamu it is possible to provide your own alignment for either of the two align stages by using the "existing" protocol: https://github.com/debbiemarkslab/EVcouplings/blob/develop/config/sample_config_complex.txt#L121

thanks for using evcouplings :) should you run into any other issue just let us know

[2020-03-06 12:10] #228 closed

[2020-03-10 17:03] cross12tamu commented on #228
@sacdallago

What _annotations.csv file do I feed for the msa `existing` method?

In this instance, the alignment was done elsewhere (not with EVcouplings), and there is no _annotations.csv file.

[code]

What is the best way to over come this issue?

Thanks for your time!

[2020-03-10 19:02] thomashopf commented on #228
You will need to make this file yourself in this case so the pipeline can match up the sequences between both alignments.

Pinging @aggreen for details

[2020-03-10 20:17] aggreen commented on #228
Hi Curtis,

Great question. When using evcouplings-generated sequence alignments,
evcouplings relies on the sequence annotation from uniprot to properly pair
proteins from the same species. When you are inputting your own alignment,
you'll have to generate these annotations on your own so that we know which
proteins in alignment 1 and 2 came from the same species. You can probably
get the name of

[2020-03-11 20:24] jrr-cpt commented on #228
Thank you @aggreen . Your attachments did not come through. The test runs we have done have blank fields in the OS column (for both monomer and complex runs).
<img width="922" alt="Screen Shot 2020-03-11 at 15 20 08" src="https://user-images.githubusercontent.com/38894438/76460335-d1e19200-63ab-11ea-9fc8-9e552deceec3.png">

To clarify, did you mean that only one representative from each species is

[2020-03-12 14:33] aggreen commented on #228
Hi Curtis,

The attachments probably got lost because of the github system. I believe
that I have your email from a separate email from your supervisor - I will
send the attachments to that address (to avoid making our emails public)

So the concatenation based on species works by first checking the "OS"
column for entries, and if it doesn't find any it then checks the "Tax"
column. This is becaus

[2020-03-19 17:23] cross12tamu opened #229 "Complex Pipeline Failure - ValueError"
This is somewhat related to Issue #215

I am running a complex pipeline and during the later steps, it hangs on the attached issue.
![evcouplings_error](https://user-images.githubusercontent.com/26947059/77095419-dcb7aa80-69db-11ea-8369-6dbadbd667ac.png)

Let me know if there's anything else I need to provide for y'all.

Of note, I also did the (couple line) changes [seen here](https://github.com/

[2020-03-19 17:24] cross12tamu commented on #213
I am getting this error as well in a few of my jobs. Let me know if you'd like any of the specific error logs.

[2020-03-20 14:35] thomashopf commented on #213
@cross12tamu Can you temporarily work around the error by disabling the mutate and dock stages (see answer by aggreen above)?

@aggreen Is this fixed in your complex update PR?

[2020-03-20 14:36] thomashopf commented on #229
@cross12tamu Could you please upload the entire pipeline output folder including config files somewhere? Then we can have a more detailed look at the issue

[2020-03-20 14:37] thomashopf commented on #229
Looks like this may be the same issue as #222

[2020-03-20 17:40] aggreen commented on #229
@thomashopf agree this is the same issue

[2020-03-20 17:52] aggreen commented on #213
@thomashopf No this has not been fixed yet

[2020-03-27 15:12] cross12tamu commented on #229
Hey yall,

Is there a good way to send the entire output and config here on github? I can compress and email as well.

[2020-03-27 15:20] cross12tamu opened #230 "Make compatible with PSIPRED v4"
Hey, I hope this finds yall well and in good spirits!

I'm having some issues troubleshooting regarding the fold step of the monomer pipeline.

The output of my error is as follows:

[code]

This is occuring on multiple different runs via the monomer pipeline on different proteins. I'm curious if there's something wrong with how I am running `psipred` or if it's a different issue entirely. I would

[2020-03-27 15:44] cross12tamu commented on #213
Commenting out the above steps in the pipeline permit completion with no errors (just fyi, as I just realized that I hadn't answered your question)

[2020-03-27 20:13] thomashopf commented on #229
Any link where we can download the files is fine (not aware of large uploads being possible at github)

[2020-03-27 20:28] thomashopf commented on #230
Hi @cross12tamu,

Can you also upload the pipeline folder for one of the runs affected by this problem please?

Also, do the following two files exist and have any contents?

/home/curtisross/research/cpt-aux/mu-releasin/EVcouplings/results/mu_monomer/gp22/first_run/fold/psipred/.fa.ss2

/home/curtisross/research/cpt-aux/mu-releasin/EVcouplings/results/mu_monomer/gp22/first_run/fold/psipred/.fa.ho

[2020-03-27 21:16] cross12tamu commented on #230
[Here is a link to a shared google drive](https://drive.google.com/drive/folders/1v893Nm4sRMx5OBCXbhEaUYWrd9vHCZxJ?usp=sharing), that you *should* be able to access if I did the sharing correctly.

No, the only hidden file is a .ss file (which is empty)

Here's an image of my directory:
![fold_dir](https://user-images.githubusercontent.com/26947059/77801163-4b34e200-7046-11ea-8895-79b68a8268e4.png

[2020-03-27 21:18] cross12tamu commented on #229
[Here a google drive link](https://drive.google.com/drive/folders/1v893Nm4sRMx5OBCXbhEaUYWrd9vHCZxJ?usp=sharing), let me know if it does not work.

[2020-03-27 21:38] cross12tamu commented on #230
I have a feeling TAMU is being fussy with the sharing...

give me a second to port this to my personal gmail

[2020-03-28 02:58] nrollins-Ag opened #231 "Deprecated usage of pandas's "loc""
When computing couplings from an existing alignment .sto file, error can be thrown:
[code]

I believe this is happening because the pipeline is collecting certain columns of a pandas dataframe made from the annotations- but they are absent. As of an update, pandas will error when this happens instead of populating NaNs. Their recommended solution is to replace use of ".loc" with ".reindex" when co

[2020-03-28 09:25] thomashopf commented on #230
Okay so it looks like the PSI-BLAST step of PSIPRED works (i.e. generating the sequence alignment), but then it doesn't make any predictions. Do you get any sort of error message from PSIPRED printed to terminal?

1) Can you please try to adjust your prefix from "../results/mu_monomer/gp22/first_run/" to so:
     * it does not contain a relative path (../)
     * it does have an actual filename pr

[2020-03-28 09:26] thomashopf commented on #231
Yep that has been there quite for a long time now... solution is indeed using reindex

[2020-03-28 09:59] thomashopf commented on #229
Thanks, this confirms we indeed have a duplicate of #222 here.

Until we have a fix implemented, in the "compare" section of you config, please change
[code]

to

[code]

which will avoid running into the problematic code.

Please let us know in case this still doesn't fix it for you temporarily, closing this issue in favor of #222 for now.

[2020-03-28 09:59] #229 closed

[2020-03-28 11:25] thomashopf commented on #231
Fixed - branch that has this update will be pushed & merged in near future

[2020-03-29 00:18] cross12tamu commented on #230
I did both (1) and (2) with the same error being raised. I ended up using psipred3.5 instead of 4 for (2).

Let me know if you need something else from me that can help debug.

Thanks for your time @thomashopf

[2020-03-29 17:07] thomashopf commented on #230
Okay, thanks a lot for trying all these things! I renamed this issue as a reminder to make the package compatible with PSIPRED v4

[2020-03-29 18:17] cross12tamu commented on #230
Do you have any recomendation for me to try and fix this? Since 3.5 and 4 didn't work, I don't know if I should use an earlier version than 3.5?

Just let me know and thanks again.

[2020-03-29 18:42] thomashopf commented on #230
Oh sorry - I had misread your answer that PSIPRED 3.5 worked.

Can you please try and see what happens if you directly run PSIPRED as a standalone tool outside the pipeline/package? Maybe this is some sort of an installation issue - or did you already have jobs where it successfully predicted secondary structure?

[2020-03-29 21:06] cross12tamu commented on #230
I ran each version of psipred outside of EVcouplings before initiating the full pipeline. I had the longest time debugging my own errors of getting the databases to sync / work. *I THINK* I have done that correctly, but perhaps not.

What is the expected output (the files/etc) of a successful PSIPRED run? I presume it's the `.ss` and `.ss2` files, as well as a `.horiz` file? If so, they're popping

[2020-03-30 19:59] cross12tamu commented on #230
I've reinstalled EVcouplings, as well as tried to feed the results from PSIPRED (shown above) into the fold folder to see if it would get picked up if I ran the FOLD step. It did not.

Trying some more digging through y'alls module now to see if I can gain any insight on this error.

[2020-03-30 21:12] cross12tamu commented on #230
OH! It did catch the separate psipred files when I fed it (I believe that this is good news).

Evidently I did something wrong with CNS. Now for me to fix that, I will look into addressing the aforementioned issue for PSIPRED (if you don't get to it first).

[2020-03-30 22:14] cross12tamu commented on #230
Just to clarify/summarize my confusing post above:

- psipred v3.5 and psipred v4 outputs are not picked up in the EVcouplings fold/psipred directory
- I ran psipred indepently, renamed the files, and put the results in the fold/psipred directory
- reran EVcouplings pipeline, no errors raised, with (seemingly) expected outputs

Somehow, it seems that psipred does not finish, and make the `.ss2` an

[2020-03-31 13:54] #222 closed

[2020-04-01 18:22] cross12tamu commented on #213
This is related to this issue. Since the complex pipeline will raise the above error during running. Is there a way to feed EC pairs, results from complex, to the monomer pipeline, and have the fold step follow those restraints as well?

For example:

Protein_1 (P1), residue=15 is a EC with Protein_2 (P2),  residue=30. Fold step for monomer pipeline is restrained by P1_15 and P2_30

Is there a way

[2020-04-03 12:41] aggreen commented on #213
Hi Curtis, Currently there is not a way to do what you ask. The protocol we use internally to find the structure of complexes is:

1. Get the structure of each monomer, either by finding an example in the PDB or by using EVfold to model the structure, if no experimentally solved example can be found
2. Generate restraints for inter-molecular docking using the top inter-molecular ECs from the evcom

[2020-04-03 12:56] thomashopf commented on #213
As aggreen's reply suggests, it's typically preferally to just model the monomer structures using EVcouplings monomer pipeline runs and then derive the inter-ECs using a complex pipeline run and use these to dock the monomer.

If one really wanted to use the intra-ECs from the complex pipeline to fold monomer structures, you could do this outside the standard pipeline run the "standard" folding pr

[2020-04-03 13:03] thomashopf commented on #230
Hmmm to me this sounds like some sort of path issue... will try to follow up soon, can you send us your modified run_psipred script?

[2020-04-03 15:28] cross12tamu commented on #213
Thank you guys for the response 👍

[2020-04-03 15:40] cross12tamu commented on #230
[code]

[2020-04-03 16:16] thomashopf commented on #230
Thanks @cross12tamu - I have a suspicion the problem is due to the relative paths for execdir and datadir:
[code]

What happens if you change these to absolute paths like for dbname and ncbidir? On the HMS compute cluster, we have both of these set as absolute paths.

[2020-04-03 16:20] cross12tamu commented on #230
I'll give that a whirl @thomashopf . Thanks as always for the response.

I will get back to you.

[2020-04-04 15:19] cross12tamu commented on #230
absolute path fixed this issue.

[2020-04-07 17:08] cross12tamu opened #233 "Monomer v. Complex FOLD step output comparisons"
Howdy!

I have the full pipeline running now for various monomer and complex runs (see #230) after figuring out the full paths issue. Now I have, what I think is an easy question (hopefully) for y'all.

**_context:_**

**QUESTION**
From a complete complex pipeline run, are .tbl files for HADDOCK-based docking the expected final output? If so, what is your recommended work process for mapping those

[2020-04-08 19:19] thomashopf commented on #230
Ok great - closing this then.

[2020-04-08 19:19] #230 closed

[2020-04-08 19:21] thomashopf commented on #233
Hi @cross12tamu,

Yes this is the expected output for the complex pipeline - we haven't directly integrated any of the docking tools yet. The easiest solution should be to dock using the HADDOCK web server, I seem to remember that setting HADDOCK up locally is a bit tricky.

(By the way the other messages are just warnings, not errors, and are safe to ignore)

[2020-04-17 15:57] cross12tamu commented on #233
👍 (little tardy, but understood)

[2020-04-17 15:57] #233 closed

[2020-04-17 15:59] cross12tamu opened #234 "evcomplex scoring model"
I have ran different jobs using two primary scoring models, skewnormal and evcomplex. My question is regarding results from evcomplex jobs, which is, _what does it mean to have a probability > 1_. We have numerous pairs resulting in scores > 1, and want to verify with y'all the meaning.

[2020-04-17 23:36] jrr-cpt commented on #234
Jobs identical in all parameters but the scoring_model (using skewnormal) do not yield probabilities greater than 1. Given that we are analyzing two proteins, the evcomplex algorithm seemed the appropriate choice. I was surprised to see that the scoring model used on the webserver for couplings jobs is skewnormal. Since every output we have generated locally using evcomplex has probabilities great

[2020-04-20 21:07] kpgbrock commented on #231
Hi all, has this branch been merged and pushed to our cluster? Labmate ran into this issue as well. Let me know how I can help!

[2020-04-21 07:00] thomashopf opened #236 "Fix travis setup"
Currently does not appear to be linked to repository any more

[2020-04-21 07:03] thomashopf commented on #231
Fixed now in develop branch - will write by email about updates on o2

[2020-04-21 07:03] #231 closed

[2020-04-21 07:04] thomashopf commented on #227
This is now in develop branch and can be activated using ec_score_type: cn

[2020-04-21 07:04] #227 closed

[2020-04-21 07:14] thomashopf commented on #58
Implemented (score column is now generically called "score")

[2020-04-21 07:14] #58 closed

[2020-04-21 07:15] thomashopf commented on #12
Probably never going to happen, so closing for now

[2020-04-21 07:15] #12 closed

[2020-04-21 07:15] thomashopf commented on #122
Parked for now

[2020-04-21 07:15] #122 closed

[2020-04-21 07:16] thomashopf commented on #99
PDB IDs and structural coverage now printed/plotted on contact maps by default

[2020-04-21 07:16] #99 closed

[2020-04-21 07:19] thomashopf commented on #116
Fixed a sign error in b88245011a714950e7c033a4ec0ebb1f442c71b3, now mutation effects have the correct sign. But somehow they still look odd overall so leaving open until completely verified

[2020-04-24 15:55] cross12tamu commented on #234
Hey @thomashopf , I hope you are doing well!

I'm just wondering if you have had any time to take a look at this?

Thanks as always for your time and brain energy 😄

[2020-04-25 18:48] thomashopf commented on #234
@aggreen Could you maybe have a look at this?

[2020-04-26 21:10] nrollins-Ag opened #237 "Error running couplings for RNAs / unique alphabets"
(1 not an error, but quality of life) When running couplings for an RNA alignment- it is necessary to specify "alphabet: -AUGC". Would be good to make this automatically defined
(2 an error) again when running couplings for an RNA alignment- EVzoom fails and crashes the pipeline. EVzoom is trying to pass non-RNA characters to the model

Traceback (most recent call last):
  File "/anaconda3/lib/pyt

[2020-04-27 15:14] cross12tamu commented on #234
Let me know if you need any more information @aggreen

[2020-04-27 15:36] aggreen commented on #234
Hi all,

The EVcomplex scoring model (See Hopf and Scharfe, Elife, 2014) is the
published state of the art for evcomplex runs (ie, runs between interacting
proteins). This scoring model can have values greater than 1 - a more
appropriate name for the "probability" column would be "model_score" or
something like that, I can see why having "probability" values greater than
1 is alarming.

The skewno

[2020-04-27 19:25] thomashopf commented on #237
(1) You can use "rna" as a shortcut - will think about having an "auto" mode that detects from input

(2) Duplicate of #196 - @jonnyfrazer I seem to remember you patched the fix into your copy of the pipeline, did that work?

[2020-04-28 14:57] cross12tamu opened #238 "PLMC Tool Error"
Hey y'all, hope you're doing well.
Below is an error from running a monomer job.

Let me know what you think I should do next, or simply if this is a "strike it up with PLMC" type error.

Thanks as always for your time and brain energy!

[code]

[2020-04-28 16:02] thomashopf commented on #238
Hi @cross12tamu

I think what happens here is that your computer simply runs out of RAM because the model is so large (>3000 sites).

The better approach here is to select sub-regions for the target protein and run EVcouplings for those. Also, with a model that large and 22 effective sequences, it is impossible to get meaningful results, so that is another reason to look at smaller sub-regions of

[2020-04-28 16:18] cross12tamu commented on #238
That does, thanks @thomashopf !

[2020-04-28 16:18] #238 closed

[2020-04-28 19:12] cross12tamu commented on #234
Thanks @aggreen

For the "probability (model_score)" column, is there a standard or simply a method, on understanding the values (specifically, the range of values)?

The contact map generation confuses me a bit, with default settings being 0.95/0.99 cutoffs, and me thinking of that cutoff being "probability" driven and not "model_score" driven. Although, those values are what it uses (right?) whe

[2020-05-26 17:34] thomashopf opened #239 "Forward min_sequence_distance from couplings protocols to enrichment calculation function"
missing here: https://github.com/debbiemarkslab/EVcouplings/blob/80d30b3d2568ae3327f973346be73cdcd41f678b/evcouplings/couplings/protocol.py#L874

should be
[code]

[2020-06-08 18:32] GodloveD opened #240 "include sample data and a working example"
I am an HPC support scientist who has been asked to install this pipeline on a user's behalf.  I have no domain knowledge and cannot work out how to test the pipeline based on the information in the jupyter notebooks.  In particular, I think it would be great if this repo contained a small amount of sample data (or perhaps links to a place where sample data could be downloaded) and if the `align_*

[2020-06-10 10:25] thomashopf commented on #240
Can you please let us know which parts you could not work out? Then we can try to clarify. We have plans to create simpler documentation and also to dockerize the application with its dependencies, but due to limited bandwidth, this will still take us a while.

To get the application up and running, it should suffice to follow the steps outlined in the main README:
1. Install Python package (best

[2020-06-13 12:56] thomashopf commented on #240
Sorry, there was a slight mistake in the CLI command, it should read (commas in -b flag added):
[code]

In the end, there should be the following files indicating successful completion for each of the subjobs:
* a file ending with ".done" (job status indicator)
* a file ending with "_final.outcfg" (results summary file)
* a folder with subfolders for the different stages (align/couplings/mutate/co

[2020-06-16 16:52] GodloveD commented on #240
Thanks very much for the follow up @thomashopf.  Looks like the command that you copied and pasted above also gives the same error, but it pointed me in the right direction and I was able to get a little further by adding another comma between `0.5` and `0.7`.

Now (the containerized) evcouplings is complaining because it wants to use `sbatch` directly but `sbatch` only exists on the cluster itsel

[2020-06-17 22:54] GodloveD opened #241 "'NoneType' object has no attribute 'group'"
I'm seeing the following:

[code]
The `sbatch` command is still executed and the job is spawned (though it fails for reasons I'll detail in a different issue).

[2020-06-17 23:03] GodloveD opened #242 "Erroneously escaped dollar signs in sbatch --wrap string"
This error is observed under slurm 19.05.6

When I execute this command produces the following string that is passed to `sbatch --wrap` :
[code]
[code]
Note in the escaped dollar signs (i.e. `\$\$`).  Because these dollar signs are escaped they are treated as strings passed to `sbatch --wrap` and are not recognized as linking multiple commands on a single line.  If I manually create the same submi

[2020-06-19 06:53] thomashopf commented on #240
Sorry - managed to forget the second comma (again). I edited the commands in both replies above in case someone else comes across this thread.

Thanks for info on containerization - I agree it makes sense to keep the databases outside the container and separate from the code.

[2020-06-19 06:53] thomashopf commented on #241
please see my reply in #242

[2020-06-19 07:03] thomashopf commented on #242
Independent of the escaping - can you please detail what your expectation here would be regarding the substitution of ${USER} (and who would substitute? bash? slurm?)?

There is no substitution mechanism inside evcouplings - the wrapper application will treat this as a literal relative or absolute path prefix for making folder and prefixing output file names, not performing any substitutions (and

[2020-06-19 13:39] GodloveD commented on #242
Hi @thomashopf.  This command was executed in bash, so variable expansion is going to happen properly at the command line and the correct value for `${USER}` will already be supplied by the time the `evcouplings` process has a chance to parse options and arguments.  (_In all honesty though, I think I may have just used a literal when I did the actual command and then substituted the env var when I

[2020-06-20 15:45] thomashopf commented on #237
Re #196 - the fix I originally proposed in this issue is now in the fix/mysql_and_various_fixes branch and will get merged into the develop branch soon

[2020-06-20 15:47] thomashopf commented on #237
Closing this issue now in favor of #196

[2020-06-20 15:47] #237 closed

[2020-06-20 15:47] thomashopf commented on #239
Fixed

[2020-06-20 15:47] #239 closed

[2020-06-20 15:47] thomashopf commented on #196
Fix currently implemented in fix/mysql_and_various_fixes branch, will get merged into the develop branch soon

[2020-06-20 16:04] thomashopf commented on #241
@GodloveD Could you please provide an example output from sbatch in your computing environment when you submit a job? I have a feeling the output format may have changed with your more recent slurm version (we are on slurm 18.08.4).

The regular expression that is currently applied to retrieve the job ID is
[code]
(only  used if sbatch returns with a exit code of 0)

[2020-06-20 16:29] thomashopf commented on #242
@GodloveD Upon rereading your issue, I think you mean escaped ampersands, not escaped dollar signs, right? I.e. the `\&\&` linking the command chain passed into sbatch --wrap.

To be honest, at the moment I don't understand how the escape characters could be appearing, as we do not explicitly escape the commands...

The individual commands are assembled here:
https://github.com/debbiemarkslab/EVco

[2020-06-22 13:35] GodloveD commented on #242
Yes I mean escaped ampersands.  Don't know what I was thinking.  😄

[2020-06-22 15:02] GodloveD commented on #241
Yeah, that is likely the issue.  We wrap the sbatch command and the only output is the jobid without any additional strings.

[2020-06-26 07:43] thomashopf commented on #242
Hehe okay good we sorted that out.

How did you exactly retrieve the escaped command above, is that an output from some slurm monitor command?

I think the first check would be to check the value of the *submit* variable right before the cluster submitter is called https://github.com/debbiemarkslab/EVcouplings/blob/80d30b3d2568ae3327f973346be73cdcd41f678b/evcouplings/utils/batch.py#L404

I suppose

[2020-06-26 07:48] thomashopf commented on #241
Hm okay that explains the issue. Is there any possibility for you to get the raw string? I am somewhat hesitant to modify the regex in the package if it is a custom-brewed setup that causes the issue. Another option could of course be to inherit from the slurm submitter and override the __job_id_pattern variable.

(On a side note, I wonder if that sbatch wrapper could cause #242?)

[2020-06-30 17:21] GodloveD commented on #242
Thanks @thomashopf.  I placed the `print` command in the script as you suggested and I can verify that the escape sequences are inserted at the logging stage.  So it's a non-issue.  I'm still struggling trying to get the command that you gave me in #240 to run.  Trying to determine which errors might be do to our setup or might be a product of containerization.  I'll close this since it's a non-is

[2020-06-30 17:21] #242 closed

[2020-07-01 15:50] GodloveD commented on #240
I've made some progress on this, but now I'm seeing the following error:
[code]
Do I need to install an older version of pandas?  Can you recommend a version number?  Something else?

[2020-07-01 16:44] thomashopf commented on #240
@GodloveD For now, please install evcouplings directly from the development branch (cf https://stackoverflow.com/questions/20101834/pip-install-from-git-repo-branch). This particular issue was fixed in #231, but has not yet heen merged into the master branch or been pushed to pypi.

(Sorry about that, we really need to release a v0.0.6 very soon that has all of the more recent fixes)

[2020-07-01 16:47] thomashopf opened #243 "Prepare v0.0.6 release"
Need to release all the fixes that have accumulated over the last months but have not yet been released to pypi

Release needs fixing travis setup #236

@kpgbrock @amyyxt What's your experience from using the latest state of develop in the lab - any issues?

[2020-07-02 22:57] GodloveD commented on #240
Thanks for sticking with me @thomashopf.  I tried the latest develop commit and it seems to choke when I put a command in the `configuration:` field of the conf file.  In particular, I've got a command there to set the `$PATH` since evcouplings is not installed in a system directory.  When I try to do so the jobs bail with the following errors:
[code]
Seems like anything I put in the `configuratio

[2020-07-08 23:37] nrollins-Ag opened #244 "Make 'create evzoom' optional in config- crashes pipeline for non-AA alphabets"
Right now, alphabets not including all amino acid characters crash during couplings stage- when trying to generate EVzoom visualization. This means other folders (especially compare and mutate) directories aren't created.

For now, an easy fix is to make EVzoom optional so that we can avoid the crash and still output those results.

[2020-07-09 07:19] thomashopf commented on #244
@nrollins-Ag This issue has been already been fixed (although not yet merged, as mentioned in the respective issues, cf. #237 #196) by https://github.com/debbiemarkslab/EVcouplings/commit/fc0301bcbbaa898f4d7e5262524d471f8d5c4a2c.

Is the fix not working, or are you still on an older version of the package? Unless you have a problem with the fix (please let me know exact error then), I will merge i

[2020-07-09 07:27] thomashopf commented on #240
This is actually a problem I ran into myself a while ago. I think the fundamental issue is that slurm appears to not execute the commands inside a shell but directly, hence commands like `export` not being available.

As a fix, I added an option to supply the necessary information using environment variables (these normally should get passed on by the submission environment to the slurm job).

The

[2020-07-14 17:34] thomashopf commented on #244
@nrollins-Ag Did you have a chance to try the fix already?

[2020-07-16 17:03] GodloveD commented on #240
Sorry for the delay and thank you for you suggestion.  This got my past that error and then I ran into some more errors that had to do with the containerized installation I think.  Now I've got a new issue:

[code]
It looks like the root cause of the problem is a permission error in `/usr/local/bin`?  In this case `/usr/local/bin` is inside of the container, and it is the place where I've installe

[2020-07-17 17:49] thomashopf commented on #240
@GodloveD I can't fully exclude the possibility that psipred writes some sort of temp file in its installation directory..

What I am slightly confused by is the ```and did not return: ['/some/path/repo/EVcouplings/config/out/run_output_files_b0.7/align/run_output_files_b0.7.fa']```, since this does not list the path to the binary that should be called (runpsipred). Can you please post what settin

[2020-07-17 18:21] GodloveD commented on #240
Hi @thomashopf.  The `['/some/path/repo/EVcouplings/config/out/run_output_files_b0.7/align/run_output_files_b0.7.fa']` in the error is an artifact of the way in which I've containerized the program I think.  I'll have a look at the issue that you've linked and try to test `psipred` in less complicated context.

[2020-07-24 07:48] #196 closed

[2020-07-24 07:51] thomashopf commented on #244
Now on develop branch, closing this, please let me know if issue comes up again

[2020-07-24 07:51] #244 closed

[2020-07-24 07:52] thomashopf commented on #196
Now in develop by https://github.com/debbiemarkslab/EVcouplings/commit/5332e897ebc0528aa3cf63f8f962ff2254de84a5

[2020-07-24 07:52] thomashopf commented on #237
Fixed by https://github.com/debbiemarkslab/EVcouplings/commit/5332e897ebc0528aa3cf63f8f962ff2254de84a5

[2020-08-06 09:26] palbanese opened #246 "Pandas KeyError in _validate_read_indexer"
KeyError                                  Traceback (most recent call last)
<ipython-input-21-b280763115a0> in <module>
      3
      4 config = read_config_file("/home/pascal/evcouplings/Config_files/PsbS_X_config_test.txt")
----> 5 outcfg = execute(**config)

~/anaconda3/lib/python3.7/site-packages/evcouplings/utils/pipeline.py in execute(**config)
    174
    175             # run stage
--> 176

[2020-08-06 09:29] palbanese commented on #246
Hi, i'm new here (also to python code). But this seem something with the syntax of the tables?
"Passing list-likes to .loc or [] with any missing labels is no longer supported"

[2020-08-06 10:06] palbanese commented on #246
Is this about the release of Pandas?

[2020-08-06 16:32] palbanese commented on #246
we also tried to remove anaconda and install directly from python, changing nearly all input files and reinstall the external tools. Still getting the same error out as above. Any help would be highly appreciated.

The environment is  Ubuntu 20.04.1 LTS (GNU/Linux 5.4.0-42-generic x86_64)

[2020-08-07 06:40] thomashopf commented on #246
Hi @palbanese, this is a known problem where we used outdated pandas syntax for too long (see #231).

The issue has already been fixed, but not yet released to pypi (i.e. the version of the package that you get using pip install evcouplings).

For now, the solution is to install the develop branch version of the package. The easiest way to do so is to download https://github.com/debbiemarkslab/EVc

[2020-08-07 20:20] palbanese commented on #246
Hi thomashopf,
thanks fro your help, and yes, it worked out nicely now!.. maybe it's a good idea to put just a note on the README file with the installation instruction, you'll avoid this kind of issues reported in the near future :)

I encountered another issue btw, I don't know if I should open another thread:

It concerns the compare protocol, apparently when it compiles the SIFTS mapping table

[2020-08-07 20:32] nrollins-Ag opened #247 "Add 'existing paired alignment' to complex pipeline"
For some applications, such as protein-RNA complexes, I'd like to pair sequences by a custom method- and input already paired seqs (2 alignments where sequence X in ali 1 is paired with sequence X in ali 2) into pipeline.

This means skipping the 'genome distance' or 'best hit' step in the concatenation pipeline

[2020-08-08 19:46] palbanese commented on #246
small update:
it seems that this is caused by the uniprot server, even if i raise the number of max_retries to 1000, i get this error out:

SSLError: HTTPSConnectionPool(host='www.uniprot.org', port=443): Max retries exceeded with url: /mapping/ (Caused by SSLError(SSLError("bad handshake: Error([('SSL routines', 'ssl3_read_bytes', 'sslv3 alert handshake failure')])")))

I tried also to reduce the

[2020-08-08 19:59] thomashopf commented on #246
Hi @palbanese,

Sorry for the inconvenience with the installation, we urgently need to put out a new public release but there are a few considerations and more testing involved before we can do so.

Re the mapping files - the sequence download from Uniprot is unfortunately notoriously unreliable (which is why I added the retries option at some point), and becomes more so when putting in higher num

[2020-08-08 20:02] thomashopf commented on #247
Yep definitely a good idea - pinging @aggreen re protein-protein pipeline

For protein-RNA, besides the obvious hack of putting the run through the protein complex pipeline, we will need to think this through in more detail, and maybe finally create the appropriate protocols and pipelines...

[2020-08-08 21:13] aggreen commented on #247
Yeah, the hack version of doing this now is if you use the best hit pipeline, use 'input existing alignment' for both of the monomer stages, and provide an input annotation file that has a unique identifier for each pair of sequences that you want to pair. Then best hit will just pair up all the sequences with the same annotation. But I agree it deserves a formal solution

[2020-08-09 08:41] palbanese commented on #246
Thanks for the prompt support!

Finally, all outputs are there, amazing! :)

I think only one small last step is going wrong in preparing the output archive folder, seems that some color/fonts are missing from matplotlib package? or these ['dtype=object' when creating the ndarray]?

see log:
/home/pascal/.local/lib/python3.8/site-packages/evcouplings/visualize/parameters.py:137: RuntimeWarning: di

[2020-08-09 18:18] thomashopf commented on #246
@palbanese Great!

The rest are just warnings, so no need to worry about these - but I will make a note to fix the deprecations so we don't run into problems in the future.

I am closing this issue but feel free to reopen if you encounter any more issues around these.

[2020-08-09 18:18] #246 closed

[2020-08-09 18:19] thomashopf opened #248 "Fix newly appeared matplotlib and numpy deprecations"
See #246

[2020-09-04 17:18] thomashopf opened #249 "Fix crash if extract_annotation parameter not True"
https://github.com/debbiemarkslab/EVcouplings/blob/0b407170104a2796ca3a080f2ed8b6f460137be7/evcouplings/align/protocol.py#L1519

if "extract_annotation" is False a few lines above, annotation_file is not defined and will cause crash

[2020-10-07 19:10] berkalpay opened #251 "Computation of N_eff when the align stage (but not the couplings stage) is run"
https://github.com/debbiemarkslab/EVcouplings/blob/49748ad4ac28d5c0a152cb65cdc3f90abfb74569/evcouplings/utils/app.py#L451-L452

This may be unexpected behavior since the corresponding config file parameter is overridden. Additionally, computing N_eff in the align stage may significantly lengthen computation when the couplings stage is expected to be run at a later point.

[2020-10-07 20:50] ddingding opened #252 "CouplingsScoresCompared_longrange.csv misses couplings"
Hi,

Just to mark that for the complex pipeline, the CouplingsScoresCompared_longrange.csv is missing some inter couplings in the complex when the couplings are close (for example a coupling A_i,i=60 with A_j,j=58 is missing in my protein complex but this coupling is indeed displayed on the contactmap).

Presumably the filter for longrange is not taking into account that the 2 positions i and j ar

[2020-10-07 21:12] kpgbrock commented on #252
Hi, which version of evcouplings did you use (or which environment on o2?) I saw this bug in a previous version, but I think it's been corrected in the latest - let me know and I'll follow up on if we need to update code/envs!

[2020-10-08 15:41] ddingding commented on #252
Hi,
Yeah I'm using the evcouplings_dev_test on o2.

These wrong short-range inters are also missing from the CouplingScoresCompared_all.csv file, but they are in the couplingsScoresCompared_inter file.

Cheers

[2020-10-16 15:01] thomashopf commented on #252
Looping in @aggreen

[2020-10-16 15:15] thomashopf commented on #251
Hi @berkalpay, I agree this may seem unexpected (and I am normally not happy with having explicit overrides in the code like that). At the same time, the reason why this was put in because it makes the common use case where you first explore the available amount of sequences without calculating couplings a lot more convenient. Before having the override, the unexpected behaviour was not to have N_

[2020-10-16 15:54] aggreen commented on #252
Strange yeah, I believe this is fixed in my new version and will check on it when I update that pull request

[2020-10-26 13:37] berkalpay commented on #251
Hi @thomashopf. Yes, my code runs the stages of EVcouplings separately; it is useful for my pipeline for the stages to be modular (e.g. for parallelization). So, in my use case the couplings stage is often run immediately after the align stage, and I would like to avoid calculating N_eff in the align stage - this can add many hours to what should be a quick step. Unfortunately, there seems to be n

[2020-10-26 16:53] thomashopf commented on #251
@berkalpay I understand... this really bends the way the command-line application is meant to be used. The intended way to patch together the individual stages/components of the pipeline differently (I very much anticipated this scenario, e.g. different pipeline runners) would be to call some of the underlying Python functions directly depending on the level of abstraction needed.

But anyways, to

[2021-03-01 17:38] thomashopf opened #257 "Fix ruamel.yaml import issue with conda"
This causes issues with latest conda versions

[2021-03-01 17:39] thomashopf opened #258 "Running existing alignment protocol import with lowercase columns crashes"

[2021-03-05 23:39] nikkithadani opened #259 "Wrong error message in CouplingsModel.delta_hamiltonian"
https://github.com/debbiemarkslab/EVcouplings/blob/86fbd62f04851800b8716b8798155e71088149a2/evcouplings/couplings/model.py#L699-L702

I think in line 702 `self.target_seq[i]` should be `self.target_seq[pos[i]]`

[2021-03-06 18:10] thomashopf commented on #259
Thanks @nikkithadani

[2021-03-08 19:54] thomashopf commented on #257
Appears to be more of a conda issue, all of EVcouplings uses ruamel.yaml

[2021-03-08 20:03] thomashopf commented on #243
New version already released

[2021-03-08 20:03] #243 closed

[2021-03-08 20:04] thomashopf commented on #236
taken care of by github actions setup thanks to @joemin

[2021-03-08 20:04] #236 closed

[2021-03-19 16:34] #258 closed

[2021-03-19 16:34] #249 closed

[2021-03-19 16:34] #259 closed

[2021-03-30 08:16] thomashopf commented on #257
Confirmed as conda issue: https://github.com/conda/conda/issues/10178

Solution for now after creating anaconda environment, oddly enough works: ```conda install ruamel.yaml```

[2021-04-07 16:08] thomashopf opened #262 "Add statistics about filtered sequences to output"
* add coverage of target for each sequence to annotation file
* plot coverage before filter
* plot number of retained vs filtered sequences (bar chart)

[2021-04-19 16:49] njrollins opened #263 "Add alignment summary: organisms"
Would be useful to give quick visual summary of what organisms are collected in the alignment.

One option: represent aligned sequences in a tree or simply a bar-chart, colored by species membership
e.g. by
- fetch NCBI taxonomy from UniProt IDs (batch query API) or TaxID in annotations.csv
- input IDs to visualize as e.g. tree (https://itol.embl.de/)
- Perhaps color at according to chordata + mam

[2021-04-19 16:53] njrollins opened #264 "Add 2ndary structure pred. from ECs"
Include code developed in Toth-Petroczy 2016,
recommend = include output and plot in Couplings stage, and contrast to 2ndary in PDBs in Compare stage

[2021-04-23 03:36] HiteshKore opened #265 "Unable to download the database files using evcouplings_dbupdate"
Hi,

I am trying to download SIFT and Uniprot database using the below command-

evcouplings_dbupdate -v -s ./SIFT/ -d ./Uniprot/

However, the download is stopped without returning to the command prompt. It took more than 15 days for downloading the files and unfortunately, I had to terminate the run. I was wondering if there are any alternative ways to download the database.

As you mentioned in

[2021-04-29 01:11] sebel76 opened #266 "Unable to perform the de novo protein structure prediction."
Hi developer,

Thanks you for your program. It is quite easy to use and generate valuable results.

I want to get help with the de novo protein structure prediction using PSIPRED. I always got the same error saying that PSIPRED cannot find the output folder for .ss2 and .horiz files.

Why it is happen and how to solve it?

Below, I attached the .config and .fail file if it can help.

I observed tw

[2021-05-04 17:58] thomashopf commented on #266
Hi @sebel76,

This looks like a problem with your PSIPRED installation (used for secondary structure prediction before the actual folding). I suggest to set up PSIPRED first and make sure it runs, before using it in EVcouplings.

Are those two files made, and if so, do they have any content?

/Users/sbelanger/Documents/research/orthology/prot.coevolution/dcl5/fold/psipred/dcl5.ss2, /Users/sbelange

[2021-05-04 18:41] sebel76 commented on #266
Hi,

I install PSIPRED following instructions from the developer. I compiled the program. I use the program runpsipredplus (because of my blast+). Using EVcoupling, I observed that I add to put the blast index directly to the working directory or it return a message error.

Then, I run it with EVcoupling and got the message that I sent you.
I re-run the example coming with PSIPRED. The program run

[2021-05-07 21:48] mrunalimanj commented on #263
was working on this with the alignments I've been reviewing, and think I found something that might be nice with the hierarchical data one can pull from NCBI.
I pulled taxa information using TaxID in `*_annotations.csv`, then used `plotly` for the visualization, grouping on superkingdom, phylum, and order (could try using class, or family, but I chose some higher ranks to keep graph light).  `plot

[2021-09-30 16:42] kpgbrock opened #267 "Possible error in complex mixture model scoring"
In the complex_probability() function in evcouplings/couplings/protocol.py, it looks like there might be a typo if the user chooses to use all ECs (both inter and intra) in mixture model scoring - check before I fix?

if use_all_ecs:
        ecs = pairs.add_mixture_proability(
            ecs, model=scoring_model
        )

should be:

if use_all_ecs:
        ecs = pairs.add_mixture_probability(

[2021-09-30 17:13] kpgbrock commented on #267
Fixed and committed to develop branch

[2021-09-30 17:13] #267 closed

[2021-11-09 21:40] nikkithadani opened #268 "Non-alphabet characters aren't counted as gaps when computing sequence coverage"
I'm not sure if this is something we want to fix or just something we want to note (can be a real issue for some viral sequences) but sequences with large numbers of Xs or other non-residue characters are not counted as gaps when applying the sequence coverage threshold.

https://github.com/debbiemarkslab/EVcouplings/blob/594b45a9ecd7d429f27c7d576559134c3e9c3bcc/evcouplings/align/protocol.py#L911

[2021-12-01 18:01] ShahbazQalandar opened #269 "Low quality mutational landscape"
The figure of mutational landscape obtained from downloaded data from https://evcouplings.org/ is poor. How it can be replotted using python?

[2021-12-07 14:35] lzhangUT opened #270 "Code for running jackhmmer to produce MSA, and postprocess to get A2M.file"
Hi,
I am interested in the code of how to use jackhmmer for MSA and the postprocess to produce .A2M.file. I searched in the github but couldn't find it. can you point it to somehow?
Thanks

ps: I think I found the code for postproccess of jackhmmer outputfiles (such as stockholm, a3m files, evcouplings/align/alignment.py), but still didn't find the code for how you used jackhmmer for MSA. I kinda

[2021-12-07 14:59] #270 closed

[2022-01-27 11:18] katemstevens opened #271 "Running EVComplex with own database"
Hi there,

I am trying to use the EVComplex python package with my own sequence database and I'm having trouble getting this to work. I have tried creating my own annotation tables with tax information but this gets stuck at the concatenate stage (see error below).

Traceback (most recent call last):
  File "/EVCouplings/run_config_eukprot", line 5, in <module>
    outcfg = execute(**config)
  Fil

[2022-01-28 15:32] #271 closed

[2022-02-03 22:51] paulaberry opened #272 "lack of explicit separator in read_csv in /mutate/protocol.py"
Because there is not an explicit separator in the function that imports the mutation data table in /mutate/protocol.py, pandas expects a comma separator, but the /mutate/calculations.py function that deals with that table expects commas to separate the locations of mutations. This leads to an error that stops the pipeline if you use commas for both field separators and mutation separators. It also

[2022-02-04 08:42] thomashopf commented on #272
Hi @paulaberry,

In your csv file, are the fields containing commas escaped/quoted, like in the following example file?
[test_mutants.csv](https://github.com/debbiemarkslab/EVcouplings/files/8001298/test_mutants.csv)

This way, which is also how pandas' to_csv() function saves, allows you to have commas in comma-separated files.

[2022-02-04 15:42] paulaberry commented on #272
This file: https://github.com/debbiemarkslab/EVcouplings/blob/develop/notebooks/example/PABP_YEAST_Fields2013-singles.csv was the only one I could find as an example for how to format a  mutation effects data table, and is the one referenced in your mutation effects documentation. Are there two different functions used for the same calculations when using EVCouplings as a python package vs the com

[2022-02-06 10:55] thomashopf commented on #272
Sorry, this is an unfortunate mismatch between the mutation effect documentation and overall pipeline usage. I tagged this issue so the documentation example doesn't lead to misunderstandings in the future.

In the example notebook there is an explicit ```sep=";"``` argument  in the ```pd.read_csv()``` ,  while the pipeline defaults to ```sep=","``` when reading the csv file (which is the intended

[2022-02-07 18:20] jsunn-y opened #273 "Incompatible .model file from EVCouplings web server"
I have generated an MSA for a tryptophan synthase B subunit variant using the EVcouplings web server. Unfortunately, after importing with `from evcouplings.couplings import CouplingsModel` and then loading the model with `c = CouplingsModel("tm9D8_2.model")`, I get the following error:

[code]
I have uploaded the sequences from the alignment (.a2m) and the .model file [here](https://drive.google.c

[2022-02-08 18:16] thomashopf commented on #273
Hi @jsunn-y, before we look into this, could you please also point us to the corresponding web server run where you downloaded the model file (v1 or v2, job id, or link)? Thanks!

[2022-02-08 18:18] jsunn-y commented on #273
Thanks! Here is the job link: https://v2.evcouplings.org/results/0c2d9dcc43864858bd22ea64a2be3de0

[2022-02-10 20:16] thomashopf commented on #273
Thank you, I can reproduce the error. It looks like this is a problem with the download of the model file through the server (it should have 125 MB in total), which we have had issues before. I will look into this further but will take some time.

If you urgently need this model file, can you please write an email to support@evcouplings.org with a link to the job from above? Then someone from the

[2022-02-10 20:18] jsunn-y commented on #273
Sounds good, thank you!

[2022-03-04 00:30] qbellamy opened #274 "Is hhfilter necessary?"
In the docs, it says that hhfilter is not necessary. Then, in the config file (sample_config_monomer.txt), it says that "If blank, no filtering. If filtering, HHfilter must be installed." However, when I try to run evcouplings_runcfg <config_file> for one protein, I get this error. I'm not trying to filter. Any help would be appreciated. Thanks!
![image](https://user-images.githubusercontent.com/8

[2022-03-05 09:16] thomashopf commented on #274
Hi @qbellamy,

Did you remove or comment out the "hhfilter" setting in the tools section by any chance? If you keep the hhfilter setting, but leave the value empty, the error should disappear (the code only checks for presence of the key):

[code]

Does this fix the issue?

[2022-03-16 21:35] kpgbrock opened #275 "EVcouplings not compatible with Python 3.10 version"
After creating a clean environment with develop branch and python 3.10, I got the following error when trying to run evcouplings:

from evcouplings.utils.app import app
from collections import Mapping

ImportError: cannot import name 'Mapping' from 'collections' ImportError: cannot import name 'Mapping' from 'collections' (/n/groups/marks/software/anaconda_o2/envs/evcouplings_22/lib/python3.10/col

[2022-03-30 21:42] qbellamy commented on #274
Yes thank you this fixed it!

[2022-04-19 02:00] samberry19 commented on #275
I was just trying to install the latest version of EVcouplings in a new environment (Python 3.10.4) on my computer and I had to change "from collections import Iterable" to "from collections.abc import Iterable" in a number of the scripts in order to get it to work: couplings/mapping.py, couplings/model.py, and align/protocol.py.

[2022-04-26 20:24] kpgbrock opened #276 "Incorporate hhpred for pdb search in compare stage"
From Debbie: Can we incorporate hhblits + hhsearch (ie hhpred) functionality in compare stage, in addition to jackhmmer + hmmsearch options?

[2022-06-09 21:57] loodvn commented on #275
Fixed those in my calc_weights branch, which I'll hopefully merge soon. Collections.iterable and mapping have been in collections.abc since 3.3 actually, and since the EVCouplings repo has a lower dependency of python 3.5 this change should be harmless :)

[2022-06-10 13:12] thomashopf commented on #275
Thanks - any PRs addressing these code rot issues are highly welcome

[2022-06-10 13:12] thomashopf commented on #275
Thanks - any PRs addressing these code rot issues are highly welcome

[2022-07-13 15:46] JodC58972 commented on #265
I'm having a similar issue were you able to resolve the download complications? If so how?

Thank you

[2022-07-13 16:19] JodC58972 opened #278 "Evcouplings_dbupdate ResourceError"
Running evcouplings_dbupdate -v -s ./SIFT/ -d ./Uniprot/  and getting this error:

`line 105, in fetch_uniprot_mapping

    raise ResourceError( evcouplings.utils.system.ResourceError: Invalid status code (405) for URL: https://www.uniprot.org/mapping/`

Is anyone else getting this error? Is there a workaround? What is the correct URL?

[2022-07-13 16:55] chiggsk commented on #278
Hi, yes I can confirm I am also receiving this error, would love to hear any thoughts on resolving it!

[2022-07-14 09:27] thomashopf commented on #278
Looks like there were some changes to the UniProt REST API we are using to fetch sequences for all PDB entries.

I'll look into what it will take to update this, shouldn't be too large of a change hopefully.

We can supply some older versions of the file so you can still use that part of EVcouplings.

[2022-07-18 15:15] JodC58972 commented on #278
Thanks so much. I contacted EVcouplings here: support@evcouplings.org.
I was able to get a help and a UniProt file thanks so much

[2022-07-22 16:58] JodC58972 opened #279 "Troubleshooting Help"
Im getting this error when I run my config file. I checked and the Uniprot ID's are in the fast file I'm using but I am still getting this error.

`evcouplings.utils.BailoutException: align: No sequences found`

I have downloaded the recommended python packages as well as jackhmmer and plmc. I am using the complex pipeline. I have a region of [50,100] for one of my proteins. I am running this loca

[2022-08-05 09:24] #275 closed

[2022-08-09 08:51] thomashopf commented on #278
The issue has been fixed and is already part of the develop branch... we will push a new release to pypi shortly